Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

release-23.1:Backport!9549
  services/card/cards/service.py
Owners: @dv, @aversant

Add labelWidth property to various fields in service application
  ui/web/sa/service/Application.js
Owners: @d.zakharov, @dv

Add missing status field requirement in service application
  ui/web/sa/service/Application.js
Owners: @d.zakharov, @dv

Add diagnostics and mappings fields to service application
  ui/web/sa/service/Application.js
Owners: @d.zakharov, @dv

Refactor diagnostics and mappings fields layout in service application for improved UI structure
  ui/web/sa/service/Application.js
Owners: @d.zakharov, @dv

Add mapping to service backend
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Owners: @dv, @aversant, @d.zakharov

Fix layout.
  ui/web/sa/service/Application.js
Owners: @d.zakharov, @dv

Add diagnostics and mappings fields to service application
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'noc-2711' into 'master'
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9394
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

release-25.1:Backport!9447
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Owners: @dv, @aversant, @d.zakharov

Add cfmetric datastream Model.
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/datastream/streams/cfgmetrics.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-cfgmetric-ds-model' into 'master'
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/datastream/streams/cfgmetrics.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9587
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/datastream/streams/cfgmetrics.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix refresh diagnostic alarm when ManagedObjectProfile change settings.
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Remove unused vars.
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Fix refresh diagnostic alarm when ManagedObjectProfile change settings.
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Merge branch 'fix-avs-refresh-box-alarm-when-change-setting' into 'master'
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

release-25.1:Backport!9591
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Add Zabbix Connector integration to Metrics Collector.
  services/metricscollector/datastream.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Remove f-string.
  services/metricscollector/paths/zabbix.py
Owners: @dv, @aversant

paper size fix
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

Update security policy (#3)
  SECURITY.md
Owners: none

Community standards (#4)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: none

Add sendmetric model.
  services/metricscollector/models/sendmetric.py
Owners: @dv, @aversant

Configurable testing containers' addresses
  config.py
  docs/config-reference/tests.md
  tests/scripts/test_cli.py
  tests/scripts/test_snmp.py
Owners: @dv, @aversant, @EKbfh

Fix typo.
  services/metricscollector/models/sendmetric.py
Owners: @dv, @aversant

Add cfmetric datastream Model.
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/datastream/streams/cfgmetrics.py
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix refresh diagnostic alarm when ManagedObjectProfile change settings.
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Configurable testing containers' addresses
  config.py
  docs/config-reference/tests.md
  tests/scripts/test_cli.py
  tests/scripts/test_snmp.py
Owners: @dv, @aversant, @EKbfh

Add diagnostics and mappings fields to service application
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstanceModel.js
  ui/web/sa/service/InstancesPanel.js
Owners: @dv, @aversant, @d.zakharov

Add inv/Object_Serial report
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Testing infrastructure containers (#2)
  .github/workflows/infra-image.yml
  .gitignore
  tests/infra/docker/testdropbear/Dockerfile
  tests/infra/docker/testdropbear/README.md
  tests/infra/docker/testdropbear/VERSION
  tests/infra/docker/testdropbear/root/etc/motd
  tests/infra/docker/testdropbear/root/etc/profile.d/motd.sh
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_dsa
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_dsa.pub
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ecdsa
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ecdsa.pub
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ed25519
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ed25519.pub
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_rsa
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_rsa.pub
  tests/infra/docker/testsnmpd/Dockerfile
  tests/infra/docker/testsnmpd/README.md
  tests/infra/docker/testsnmpd/VERSION
  tests/infra/docker/testsnmpd/root/etc/snmp/snmpd.conf
  tests/infra/docker/testsshd/Dockerfile
  tests/infra/docker/testsshd/README.md
  tests/infra/docker/testsshd/VERSION
  tests/infra/docker/testsshd/root/etc/motd
  tests/infra/docker/testsshd/root/home/test/.ssh/id_dsa
  tests/infra/docker/testsshd/root/home/test/.ssh/id_dsa.pub
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ecdsa
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ecdsa.pub
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ed25519
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ed25519.pub
  tests/infra/docker/testsshd/root/home/test/.ssh/id_rsa
  tests/infra/docker/testsshd/root/home/test/.ssh/id_rsa.pub
  tests/infra/docker/testtelnetd/Dockerfile
  tests/infra/docker/testtelnetd/README.md
  tests/infra/docker/testtelnetd/VERSION
  tests/infra/docker/testtelnetd/root/etc/motd
Owners: @dv

Overly permissive regular expression range - fixed
  ui/web/fm/ttsystem/Application.js
  ui/web/main/pool/Application.js
Owners: @d.zakharov, @dv

Advanced CodeQL configuration (#6)
  .github/workflows/codeql.yml
Owners: none

Fix testing containers build on merging into master (#5)
  .github/workflows/infra-image.yml
  tests/infra/docker/testdropbear/README.md
  tests/infra/docker/testsnmpd/README.md
  tests/infra/docker/testsshd/README.md
  tests/infra/docker/testtelnetd/README.md
Owners: @dv

Overly permissive regular expression range - fixed
  ui/web/fm/ttsystem/Application.js
  ui/web/main/pool/Application.js
Owners: @d.zakharov, @dv

Update security policy (#3)
  SECURITY.md
Owners: none

Fix testing containers build on merging into master (#5)
  .github/workflows/infra-image.yml
  tests/infra/docker/testdropbear/README.md
  tests/infra/docker/testsnmpd/README.md
  tests/infra/docker/testsshd/README.md
  tests/infra/docker/testtelnetd/README.md
Owners: @dv

Testing infrastructure containers (#2)
  .github/workflows/infra-image.yml
  .gitignore
  tests/infra/docker/testdropbear/Dockerfile
  tests/infra/docker/testdropbear/README.md
  tests/infra/docker/testdropbear/VERSION
  tests/infra/docker/testdropbear/root/etc/motd
  tests/infra/docker/testdropbear/root/etc/profile.d/motd.sh
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_dsa
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_dsa.pub
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ecdsa
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ecdsa.pub
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ed25519
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_ed25519.pub
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_rsa
  tests/infra/docker/testdropbear/root/home/test/.ssh/id_rsa.pub
  tests/infra/docker/testsnmpd/Dockerfile
  tests/infra/docker/testsnmpd/README.md
  tests/infra/docker/testsnmpd/VERSION
  tests/infra/docker/testsnmpd/root/etc/snmp/snmpd.conf
  tests/infra/docker/testsshd/Dockerfile
  tests/infra/docker/testsshd/README.md
  tests/infra/docker/testsshd/VERSION
  tests/infra/docker/testsshd/root/etc/motd
  tests/infra/docker/testsshd/root/home/test/.ssh/id_dsa
  tests/infra/docker/testsshd/root/home/test/.ssh/id_dsa.pub
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ecdsa
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ecdsa.pub
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ed25519
  tests/infra/docker/testsshd/root/home/test/.ssh/id_ed25519.pub
  tests/infra/docker/testsshd/root/home/test/.ssh/id_rsa
  tests/infra/docker/testsshd/root/home/test/.ssh/id_rsa.pub
  tests/infra/docker/testtelnetd/Dockerfile
  tests/infra/docker/testtelnetd/README.md
  tests/infra/docker/testtelnetd/VERSION
  tests/infra/docker/testtelnetd/root/etc/motd
Owners: @dv
