Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

add enable_kafka field in tower to selfmon
  ansible/noc_roles/selfmon/meta/tower.yml
Owners: @EKbfh

Update data for field 'container' in managedobjectds
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Merge branch 'fix-rm-managedobjectds-container' into 'master'
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

release-25.1:Backport!9676
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Fix nodata set_status send format.
  core/service/nodatachecker.py
  services/metricscollector/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-nodata-msg-format' into 'master'
  core/service/nodatachecker.py
  services/metricscollector/service.py
Owners: @dv, @aversant

release-25.1:Backport!9709
  core/service/nodatachecker.py
  services/metricscollector/service.py
Owners: @dv, @aversant

Add transform to Correlator Rule.
  collections/fm.dispositionrules/Config/Config_Changed_handlers_.json
  collections/fm.dispositionrules/Config/Config_Copy_handlers_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/System/Halt_handlers_.json
  collections/fm.dispositionrules/System/Reboot_System/Reboot_dispose_.json
  collections/fm.dispositionrules/System/Started_System/Reboot_dispose_.json
  core/fm/enum.py
  core/models/cfgactions.py
  fm/migrations/0064_disposition_rule_vars_map.py
  fm/models/alarmclass.py
  fm/models/dispositionrule.py
  fm/models/eventclass.py
  services/classifier/actionset.py
  services/classifier/service.py
  services/correlator/rule.py
  services/correlator/service.py
  services/datastream/models/cfgalarm.py
  services/datastream/models/cfgevent.py
  services/datastream/models/utils.py
  services/web/apps/fm/dispositionrule/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix match wildcard labels on discovered object.
  core/caps/decorator.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/objectdiscoveryrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Add transform to Correlator Rule.
  collections/fm.dispositionrules/Config/Config_Changed_handlers_.json
  collections/fm.dispositionrules/Config/Config_Copy_handlers_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/System/Halt_handlers_.json
  collections/fm.dispositionrules/System/Reboot_System/Reboot_dispose_.json
  collections/fm.dispositionrules/System/Started_System/Reboot_dispose_.json
  core/fm/enum.py
  core/models/cfgactions.py
  fm/migrations/0064_disposition_rule_vars_map.py
  fm/models/alarmclass.py
  fm/models/dispositionrule.py
  fm/models/eventclass.py
  services/classifier/actionset.py
  services/classifier/service.py
  services/correlator/rule.py
  services/correlator/service.py
  services/datastream/models/cfgalarm.py
  services/datastream/models/cfgevent.py
  services/datastream/models/utils.py
  services/web/apps/fm/dispositionrule/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9712
  collections/fm.dispositionrules/Config/Config_Changed_handlers_.json
  collections/fm.dispositionrules/Config/Config_Copy_handlers_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/System/Halt_handlers_.json
  collections/fm.dispositionrules/System/Reboot_System/Reboot_dispose_.json
  collections/fm.dispositionrules/System/Started_System/Reboot_dispose_.json
  core/fm/enum.py
  core/models/cfgactions.py
  fm/migrations/0064_disposition_rule_vars_map.py
  fm/models/alarmclass.py
  fm/models/dispositionrule.py
  fm/models/eventclass.py
  services/classifier/actionset.py
  services/classifier/service.py
  services/correlator/rule.py
  services/correlator/service.py
  services/datastream/models/cfgalarm.py
  services/datastream/models/cfgevent.py
  services/datastream/models/utils.py
  services/web/apps/fm/dispositionrule/views.py
  ui/web/fm/dispositionrule/Application.js
  ui/web/fm/dispositionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-discovered-object-match-labels' into 'master'
  core/caps/decorator.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/objectdiscoveryrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  sa/models/discoveredobject.py
Owners: @dv, @aversant

release-25.1:Backport!9714
  core/caps/decorator.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  sa/models/objectdiscoveryrule.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/objectdiscoveryrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-group-alarm-severity' into 'master'
  services/correlator/models/ensuregroupreq.py
  services/correlator/service.py
Owners: @dv, @aversant

Fix merge caps on same RemoteSystem on modeltemplate.
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'fix-avs-merge-caps-on-model-template' into 'master'
  main/models/modeltemplate.py
Owners: @dv, @aversant

release-25.1:Backport!9640
  services/correlator/models/ensuregroupreq.py
  services/correlator/service.py
Owners: @dv, @aversant

release-25.1:Backport!9716
  main/models/modeltemplate.py
Owners: @dv, @aversant

mkdocs: Add CNAME (#53)
  docs/CNAME
Owners: @dv, @EKbfh, @aversant

Django 4.2.25 (#57)
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Update MikroTik.RouterOS profile #1 (#54)
  sa/profiles/MikroTik/RouterOS/get_inventory.py
  sa/profiles/MikroTik/RouterOS/get_lldp_neighbors.py
  sa/profiles/MikroTik/RouterOS/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix typing for params' defaults (#59)
  core/config/params.py
Owners: @dv, @aversant, @EKbfh

Add inv.Interface model to Reaction models.
  core/change/decorator.py
  core/change/policy.py
  inv/models/interface.py
  sa/models/service.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-change-policy-reaction-models' into 'master'
  core/change/decorator.py
  core/change/policy.py
  inv/models/interface.py
  sa/models/service.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9721
  core/change/decorator.py
  core/change/policy.py
  inv/models/interface.py
  sa/models/service.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Add set_sla_probe action commands.
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/set_hostname.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/set_hostname.json
  collections/sa.actions/set_sla_probe.json
  core/profile/base.py
  sa/models/action.py
  services/web/apps/sa/runcommands/views.py
  ui/web/sa/actioncommands/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'add-action-command-add-sla-probe' into 'master'
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/set_hostname.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/set_hostname.json
  collections/sa.actions/set_sla_probe.json
  core/profile/base.py
  sa/models/action.py
  services/web/apps/sa/runcommands/views.py
  ui/web/sa/actioncommands/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9723
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/set_hostname.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/set_hostname.json
  collections/sa.actions/set_sla_probe.json
  core/profile/base.py
  sa/models/action.py
  services/web/apps/sa/runcommands/views.py
  ui/web/sa/actioncommands/Application.js
Owners: @dv, @aversant, @d.zakharov

Add SNMP_FAILED_WINDOW for set SNMP Diagnostic on Uptime discovery.
  services/discovery/jobs/periodic/uptime.py
Owners: @dv, @aversant

Merge branch 'fix-avs-add-snmp-diagnostic-window' into 'master'
  services/discovery/jobs/periodic/uptime.py
Owners: @dv, @aversant

release-25.1:Backport!9725
  services/discovery/jobs/periodic/uptime.py
Owners: @dv, @aversant

Add run Action Commands on reaction.
  fm/models/alarmclass.py
  main/models/handler.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  sa/models/serviceprofile.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

Add run Action Commands on reaction.
  fm/models/alarmclass.py
  main/models/handler.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  sa/models/serviceprofile.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9725
  fm/models/alarmclass.py
  main/models/handler.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  sa/models/serviceprofile.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

Add BDCOM S5210-C profile check rules (#63)
  collections/sa.profilecheckrules/BDCOM/IOS/S5210C_sysObjectID.json
Owners: none

feat: enhance localization support by updating build configurations and integrating language plugin (#56)
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/scripts/plugins/LanguagePlugin.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/web/locale/gettext.js
Owners: @d.zakharov, @dv

Create Service Instance from config for IPv4 caps set.
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Merge branch 'fix-avs-update-address-si-network' into 'master'
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

release-25.1:Backport!9729
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant
