Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Merge branch 'patch-avs-webhook-sender' into 'master'
  core/mx.py
  services/tgsender/service.py
  ui/web/main/notificationgroup/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9667
  core/mx.py
  services/tgsender/service.py
  ui/web/main/notificationgroup/Application.js
Owners: @dv, @aversant, @d.zakharov

Apply message actions on Default Route.
  core/router/action.py
  core/router/route.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
Owners: @dv, @aversant

#2733 Fix subinterface_apply_policy UI Model typo.
  ui/web/inv/interfaceprofile/Model.js
Owners: @d.zakharov, @dv

Merge branch 'noc-2734' into 'master'
  core/router/action.py
  core/router/route.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
Owners: @dv, @aversant

release-25.1:Backport!9670
  ui/web/inv/interfaceprofile/Model.js
Owners: @d.zakharov, @dv

Add Shelf & Rack models.
  collections/fm.alarmclasses/Network/Link/Link_Down.json
  collections/inv.objectmodels/NoName/Rack/19_18U_Wall-Mount_Cabinet.json
  collections/inv.objectmodels/NoName/Rack/19_24U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_48U_1000mm_Shelf.json
  collections/main.labels/netbox_role_.json
Owners: none

release-25.1:Backport!9669
  core/router/action.py
  core/router/route.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
Owners: @dv, @aversant

Merge branch 'patch-avs-rack-cabinet-models' into 'master'
  collections/fm.alarmclasses/Network/Link/Link_Down.json
  collections/inv.objectmodels/NoName/Rack/19_18U_Wall-Mount_Cabinet.json
  collections/inv.objectmodels/NoName/Rack/19_24U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_48U_1000mm_Shelf.json
  collections/main.labels/netbox_role_.json
Owners: none

release-25.1:Backport!9673
  collections/fm.alarmclasses/Network/Link/Link_Down.json
  collections/inv.objectmodels/NoName/Rack/19_18U_Wall-Mount_Cabinet.json
  collections/inv.objectmodels/NoName/Rack/19_24U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_48U_1000mm_Shelf.json
  collections/main.labels/netbox_role_.json
Owners: none

Add Jobs router to Router Instance.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  services/correlator/models/disposereq.py
  services/correlator/models/updatecheckersreq.py
  services/correlator/service.py
Owners: @dv, @aversant

Merge branch 'patch-avs-route-jobs' into 'master'
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  services/correlator/models/disposereq.py
  services/correlator/models/updatecheckersreq.py
  services/correlator/service.py
Owners: @dv, @aversant

release-25.1:Backport!9677
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  services/correlator/models/disposereq.py
  services/correlator/models/updatecheckersreq.py
  services/correlator/service.py
Owners: @dv, @aversant

Add RemoteSystem - APIKey integration.
  aaa/models/apikey.py
  main/models/remotesystem.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  services/metricscollector/sourceconfig.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-apikey-authorization-scheme' into 'master'
  docs/datastream-api-reference/index.md
  services/login/paths/auth.py
Owners: @dv, @EKbfh, @aversant

Add RemoteSystem - APIKey integration.
  aaa/models/apikey.py
  main/models/remotesystem.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  services/metricscollector/sourceconfig.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix dangling ci jobs
  .gitlab-ci.yml
Owners: @dv, @EKbfh

release-25.1:Backport!9679
  aaa/models/apikey.py
  main/models/remotesystem.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  services/metricscollector/sourceconfig.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix PEP.
  services/login/paths/auth.py
Owners: @dv, @aversant

release-25.1:Backport!9003
  docs/datastream-api-reference/index.md
  services/login/paths/auth.py
Owners: @dv, @EKbfh, @aversant

Disable statefield when NEW and enable when EDIT
  ui/web/core/ModelApplication.js
Owners: @d.zakharov, @dv

Remove refs column from purgatoirum query.
  core/purgatorium.py
Owners: @dv, @aversant

Fix exposed labels to metrics.
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/Interface.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Object.json
  collections/pm.metricscopes/Sensor.json
  core/caps/decorator.py
  core/caps/types.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  services/metrics/models/source.py
  services/metrics/service.py
  services/web/apps/main/label/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/managedobject/form/View.js
Owners: @dv, @aversant, @d.zakharov

Fix exposed labels to metrics.
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/Interface.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Object.json
  collections/pm.metricscopes/Sensor.json
  core/caps/decorator.py
  core/caps/types.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  services/metrics/models/source.py
  services/metrics/service.py
  services/web/apps/main/label/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/managedobject/form/View.js
Owners: @dv, @aversant, @d.zakharov

Fix group filter on fm Events UI.
  services/web/apps/fm/event/views.py
Owners: @dv, @aversant

release-25.1:Backport!9684
  collections/pm.metricscopes/CPU.json
  collections/pm.metricscopes/Disk.json
  collections/pm.metricscopes/FileSystem.json
  collections/pm.metricscopes/Interface.json
  collections/pm.metricscopes/Memory.json
  collections/pm.metricscopes/Object.json
  collections/pm.metricscopes/Sensor.json
  core/caps/decorator.py
  core/caps/types.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/capsprofile.py
  sa/models/managedobject.py
  services/metrics/models/source.py
  services/metrics/service.py
  services/web/apps/main/label/views.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/managedobject/form/View.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-purgatorium-typo' into 'master'
  core/purgatorium.py
Owners: @dv, @aversant

Merge branch 'fix-avs-group-filter-fm-events-ui' into 'master'
  services/web/apps/fm/event/views.py
Owners: @dv, @aversant

release-25.1:Backport!9685
  core/purgatorium.py
Owners: @dv, @aversant

release-25.1:Backport!9687
  services/web/apps/fm/event/views.py
Owners: @dv, @aversant

Add database source to migrations.
  sa/migrations/0265_migrate_caps_source_to_discovery.py
Owners: @dv, @aversant

Add remote_mappings to message ctx.
  core/purgatorium.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Merge branch 'fix-avs-caps-database-source' into 'master'
  sa/migrations/0265_migrate_caps_source_to_discovery.py
Owners: @dv, @aversant

release-25.1:Backport!9675
  sa/migrations/0265_migrate_caps_source_to_discovery.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-remote-mappings-message-ctx' into 'master'
  core/purgatorium.py
  sa/models/managedobject.py
Owners: @dv, @aversant

release-25.1:Backport!9690
  core/purgatorium.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Update package versions and configurations in package.json
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

Add some BDCOM.xPON models
  collections/inv.objectmodels/Bdcom/xPON/GP3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/GP3600-08B.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x-2AC.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08E.json
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Owners: none

Merge branch 'bdcom_models' into 'master'
  collections/inv.objectmodels/Bdcom/xPON/GP3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/GP3600-08B.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x-2AC.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08E.json
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Owners: none

release-25.1:Backport!9534
  collections/inv.objectmodels/Bdcom/xPON/GP3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/GP3600-08B.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x-2AC.json
  collections/inv.objectmodels/Bdcom/xPON/P3310x.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-04.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08.json
  collections/inv.objectmodels/Bdcom/xPON/P3600-08E.json
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Owners: none
