Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Remove unused imports.
  fm/models/activealarm.py
  sa/models/service.py
Owners: @dv, @aversant

Fix flake.
  fm/models/activealarm.py
Owners: @dv, @aversant

Fix save ETL DiscoveredObject on move IP Address on system.
  pm/models/metricrule.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Fix flake.
  sa/models/discoveredobject.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Fix pep.
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Fix on_delete.
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Fix save ETL DiscoveredObject on move IP Address on system.
  pm/models/metricrule.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Merge branch 'fix-avs-merge-discovered-object-on-elt-change' into 'master'
  pm/models/metricrule.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

release-25.1:Backport!9808
  pm/models/metricrule.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Fix flake.
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Remove unused imports.
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Add service dependencies settings.
  core/caps/decorator.py
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  fm/models/activealarm.py
  inv/models/resourcegroup.py
  sa/models/service.py
  sa/models/serviceinstance.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
  services/web/apps/sa/service/views.py
  sla/models/slaprofile.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-service-dependencies-settings' into 'master'
  core/caps/decorator.py
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  fm/models/activealarm.py
  inv/models/resourcegroup.py
  sa/models/service.py
  sa/models/serviceinstance.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
  services/web/apps/sa/service/views.py
  sla/models/slaprofile.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9807
  core/caps/decorator.py
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  fm/models/activealarm.py
  inv/models/resourcegroup.py
  sa/models/service.py
  sa/models/serviceinstance.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
  services/web/apps/sa/service/views.py
  sla/models/slaprofile.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix check lazy_labels on CapsProfile model.
  core/model/decorator.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'fix-avs-set-label-service-check' into 'master'
  core/model/decorator.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

release-25.1:Backport!9811
  core/model/decorator.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Package-based web endpoints autodiscover (#25)
  commands/sync-perm.py
  config.py
  services/web/apps/gis/area/DISABLED
  services/web/apps/gis/area/__init__.py
  services/web/apps/gis/area/views.py
  services/web/apps/gis/overlay/DISABLED
  services/web/apps/gis/overlay/__init__.py
  services/web/apps/gis/overlay/views.py
  services/web/base/site.py
  services/web/service.py
  tests/test_site.py
  urls.py
Owners: @dv, @aversant, @EKbfh

ModuleSpec/Loader protocol for pyrule and custom loader (#88)
  core/importer.py
Owners: @dv, @aversant

Remove main.Checkpoint model (#117)
  aaa/models/user.py
  main/models/checkpoint.py
  models.py
  services/web/apps/main/checkpoint/__init__.py
  services/web/apps/main/checkpoint/templates/create.html
  services/web/apps/main/checkpoint/views.py
Owners: @dv, @aversant

Validate IPv4 address from ifdescr discovery.
  services/discovery/jobs/box/ifdesc.py
Owners: @dv, @aversant

Merge branch 'fix-avs-catch-bad-ipv4-address-ifdescr' into 'master'
  services/discovery/jobs/box/ifdesc.py
Owners: @dv, @aversant

release-25.1:Backport!9813
  services/discovery/jobs/box/ifdesc.py
Owners: @dv, @aversant

Remove features/ folder (#119)
  features/setup-facades.feature
  features/show-equipment-view.feature
Owners: none

Add set SLA Probe to Action Commands.
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_sla_probe.json
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/enable_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/add_vlan.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/enable_sla_probe.json
  collections/sa.actions/set_sla_probe.json
  core/models/cfgactioncommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  tests/collections/test_sa_actioncommands.py
Owners: @dv, @aversant

Add cancel prefix to SA profiles.
  sa/profiles/Cisco/IOS/profile.py
  sa/profiles/Huawei/VRP/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add set SLA Probe to Action Commands.
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_sla_probe.json
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/enable_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/add_vlan.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/enable_sla_probe.json
  collections/sa.actions/set_sla_probe.json
  core/models/cfgactioncommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/profiles/Cisco/IOS/profile.py
  sa/profiles/Huawei/VRP/profile.py
  tests/collections/test_sa_actioncommands.py
Owners: @dv, @aversant, @dmitryluhtionov

Add set SLA Probe to Action Commands.
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_sla_probe.json
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/enable_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/add_vlan.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/enable_sla_probe.json
  collections/sa.actions/set_sla_probe.json
  core/models/cfgactioncommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/profiles/Cisco/IOS/profile.py
  sa/profiles/Huawei/VRP/profile.py
  tests/collections/test_sa_actioncommands.py
Owners: @dv, @aversant, @dmitryluhtionov

Improve affected domain execution API.
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

Refactor apply ReactionRule mechanics.
  core/caps/decorator.py
  core/change/decorator.py
  core/change/model.py
  core/change/policy.py
  core/wf/decorator.py
  sa/models/reactionrule.py
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix processed changes.
  core/change/change.py
  sa/models/reactionrule.py
  ui/web/sa/reactionrule/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9815
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_sla_probe.json
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/enable_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/add_vlan.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/enable_sla_probe.json
  collections/sa.actions/set_sla_probe.json
  core/models/cfgactioncommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/profiles/Cisco/IOS/profile.py
  sa/profiles/Huawei/VRP/profile.py
  tests/collections/test_sa_actioncommands.py
Owners: @dv, @aversant, @dmitryluhtionov

Add negative suffix to matcher.
  core/matcher.py
  core/router/route.py
  tests/test_matcher.py
Owners: @dv, @aversant

Fix flake.
  core/router/route.py
Owners: @dv, @aversant

Fix flake.
  core/matcher.py
Owners: @dv, @aversant

Add negative suffix to matcher.
  core/matcher.py
  core/router/route.py
  tests/test_matcher.py
Owners: @dv, @aversant

noc-supp-fix-main-models-prefixtable
  main/models/prefixtable.py
Owners: @dv, @aversant

Merge branch 'fix-avs-add-negative-matcher' into 'master'
  core/matcher.py
  core/router/route.py
  tests/test_matcher.py
Owners: @dv, @aversant

Validate OID for snmp check on Diagnostic Profile Handler.
  core/profile/diagnostic.py
Owners: @dv, @aversant

release-25.1:Backport!9817
  core/matcher.py
  core/router/route.py
  tests/test_matcher.py
Owners: @dv, @aversant
