Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Community standards (#4)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: none

Advanced CodeQL configuration (#6)
  .github/workflows/codeql.yml
Owners: none

Deprecate ./noc test command
  .docker/docker-compose.yml
  .github/workflows/py-tests.yml
  commands/test.py
  config.py
  docs/man/test.md
  tests/confdb/profiles/README.md
  tests/conftest.py
Owners: @dv, @EKbfh, @aversant

Fix get_by_id usage
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Owners: @dv, @aversant

Merge branch 'noc-fix-get-by-id' into 'master'
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Owners: @dv, @aversant

release-23.1:Backport!9555
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-fix-get-by-id' into 'master'
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Owners: @dv, @aversant

Fix get_by_id usage
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Owners: @dv, @aversant

Deprecate ./noc test command
  .docker/docker-compose.yml
  .github/workflows/py-tests.yml
  commands/test.py
  config.py
  docs/man/test.md
  tests/confdb/profiles/README.md
  tests/conftest.py
Owners: @dv, @EKbfh, @aversant

#2722 Add Zabbix Connector integration to Metrics Collector.
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

noc-supp-fix-card-templates-swrvice.html.j2-remove-ToDoContainer
  services/card/templates/service.html.j2
Owners: @dv, @aversant

release-25.1:Backport!9597
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Owners: @dv, @aversant

release-25.1:Backport!9597
  inv/models/interfaceprofile.py
  sa/models/managedobjectprofile.py
  services/card/cards/monmap.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-card-ToDoContainer' into 'master'
  services/card/templates/service.html.j2
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-card-ToDoContainer' into 'master'
  services/card/templates/service.html.j2
Owners: @dv, @aversant

release-23.1:Backport!9581
  services/card/templates/service.html.j2
Owners: @dv, @aversant

Merge branch 'noc-2722' into 'master'
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

release-25.1:Backport!9593
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Conditionan PR coverage (#7)
  .github/workflows/py-tests.yml
  codecov.yml
Owners: none

Migrate CPClient
  support/cp.py
Owners: @dv, @aversant

Migrate FIAS Extractor
  core/etl/extractor/fias.py
Owners: @dv, @aversant

Fix headers in cp
  support/cp.py
Owners: @dv, @aversant

Fix direction
  collections/inv.objectmodels/Bdcom/xPON/P3608-2TE.json
  collections/inv.objectmodels/Bdcom/xPON/P3608B.json
Owners: none

Jinja2 3.1.6
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!9677
  config.py
  core/mongo/connection.py
  docs/config-reference/mongo.md
Owners: @dv, @aversant, @EKbfh

noc-supp-fix-card-templates-swrvice.html.j2-remove-ToDoContainer
  services/card/templates/service.html.j2
Owners: @dv, @aversant

#2722 Add Zabbix Connector integration to Metrics Collector.
  services/metricscollector/datastream.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/send.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Fix overly permissive regular expression ranges (#8)
  sa/profiles/Brocade/ADX/get_vlans.py
  sa/profiles/Brocade/CER-ADV/get_vlans.py
  sa/profiles/Brocade/CER/get_vlans.py
  sa/profiles/Brocade/IronWare/get_vlans.py
  sa/profiles/HP/ProCurve9xxx/get_vlans.py
Owners: @dv, @aversant, @dmitryluhtionov

Suppress complains about insecure hasing algorithms when non relevant. (#9)
  core/password/hasher.py
Owners: @dv, @aversant

NOC Code of Conduct
  CODE_OF_CONDUCT.md
  docs/blog/posts/noc-coc.md
  docs/man/SUMMARY.md
Owners: @dv, @EKbfh, @aversant

password generator refactored
  ui/web/aaa/apikey/Application.js
  ui/web/core/PasswordGenerator.js
  ui/web/sa/service/InstancesPanel.js
Owners: @d.zakharov, @dv

pass generator change symbol
  ui/web/core/PasswordGenerator.js
Owners: @d.zakharov, @dv

password generator refactored
  ui/web/aaa/apikey/Application.js
  ui/web/core/PasswordGenerator.js
  ui/web/sa/service/InstancesPanel.js
Owners: @d.zakharov, @dv

Fix detection network maps' paper size
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

Merge branch 'noc-topo-map-scroll' into 'master'
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

Remove web build
  .gitlab-ci.yml
Owners: @dv, @EKbfh

release-25.1:Backport!9595
  .gitlab-ci.yml
  ui/web/inv/map/MapPanel.js
Owners: @dv, @EKbfh, @d.zakharov

Move documentation to GitHub pages (#10)
  .github/workflows/build-docs.yml
  .gitlab-ci.yml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING.rst
  docs/community-guide/index.md
  docs/community-guide/index.ru.md
  mkdocs.yml
  scripts/docs/minify.py
Owners: @dv, @EKbfh, @aversant

Blog comments (#16)
  docs/blog/posts/csr-proxy-concept/index.md
  docs/blog/posts/licanse-updates.md
  docs/blog/posts/nginx-serving-mkdocs-site/index.md
  docs/blog/posts/noc-24-1-2.md
  docs/blog/posts/noc-24-1-3.md
  docs/blog/posts/noc-24-1.md
  docs/blog/posts/noc-coc.md
  docs/blog/posts/noc-is-now-managed-by-gufo-labs.md
Owners: @dv, @EKbfh, @aversant

debug: Remove unused regular expression (#17)
  core/debug.py
Owners: @dv, @aversant
