Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Add dynamic classification to Sensor.
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Add dynamic classification to Sensor.
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9733
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Add Zabbix Event classes.
  collections/fm.eventclasses/Zabbix/Agent/Not_Available.json
  collections/fm.eventclasses/Zabbix/Configuration_Syncer/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Data_Collection/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Error.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Failed.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Loss_Too_High.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Response_Too_High.json
  collections/fm.eventclasses/Zabbix/ICMP_RTT/Too_High.json
  collections/fm.eventclasses/Zabbix/Internal_Process/Utilization_High.json
  collections/fm.eventclasses/Zabbix/LLD_Worker/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Memory_Buffer/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Missing_Data_Item/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Version_Changed.json
  collections/fm.eventclasses/Zabbix/Reboot.json
  collections/fm.eventclasses/Zabbix/SNMP/Not_Available.json
  collections/fm.eventclasses/Zabbix/Trigger.json
  collections/fm.eventclasses/Zabbix/Unreachable_Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Zabbix_Proxy/Last_Seen/Too_High.json
  collections/fm.eventclassificationrules/Zabbix/Configuration_Syncer/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Data_Collection_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Last_Seen_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Loss_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Response_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Internal_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/LLD_Worker/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Poller/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Power/No_Data_Zabbix_Power_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Memory_Buffer/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Missing_Data_Item/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Version_Changed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Reboot_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Scenario_Step/Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Unreachable_Poller/Utilization_High_Zabbix_.json
  core/etl/extractor/zabbix.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-zabbix-event-classes' into 'master'
  collections/fm.eventclasses/Zabbix/Agent/Not_Available.json
  collections/fm.eventclasses/Zabbix/Configuration_Syncer/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Data_Collection/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Error.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Failed.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Loss_Too_High.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Response_Too_High.json
  collections/fm.eventclasses/Zabbix/ICMP_RTT/Too_High.json
  collections/fm.eventclasses/Zabbix/Internal_Process/Utilization_High.json
  collections/fm.eventclasses/Zabbix/LLD_Worker/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Memory_Buffer/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Missing_Data_Item/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Version_Changed.json
  collections/fm.eventclasses/Zabbix/Reboot.json
  collections/fm.eventclasses/Zabbix/SNMP/Not_Available.json
  collections/fm.eventclasses/Zabbix/Trigger.json
  collections/fm.eventclasses/Zabbix/Unreachable_Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Zabbix_Proxy/Last_Seen/Too_High.json
  collections/fm.eventclassificationrules/Zabbix/Configuration_Syncer/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Data_Collection_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Last_Seen_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Loss_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Response_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Internal_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/LLD_Worker/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Poller/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Power/No_Data_Zabbix_Power_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Memory_Buffer/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Missing_Data_Item/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Version_Changed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Reboot_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Scenario_Step/Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Unreachable_Poller/Utilization_High_Zabbix_.json
  core/etl/extractor/zabbix.py
Owners: @dv, @aversant

release-25.1:Backport!9735
  collections/fm.eventclasses/Zabbix/Agent/Not_Available.json
  collections/fm.eventclasses/Zabbix/Configuration_Syncer/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Data_Collection/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Error.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Failed.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Loss_Too_High.json
  collections/fm.eventclasses/Zabbix/Host/Ping_Response_Too_High.json
  collections/fm.eventclasses/Zabbix/ICMP_RTT/Too_High.json
  collections/fm.eventclasses/Zabbix/Internal_Process/Utilization_High.json
  collections/fm.eventclasses/Zabbix/LLD_Worker/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Memory_Buffer/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Missing_Data_Item/Too_High.json
  collections/fm.eventclasses/Zabbix/Proxy/Version_Changed.json
  collections/fm.eventclasses/Zabbix/Reboot.json
  collections/fm.eventclasses/Zabbix/SNMP/Not_Available.json
  collections/fm.eventclasses/Zabbix/Trigger.json
  collections/fm.eventclasses/Zabbix/Unreachable_Poller/Utilization_High.json
  collections/fm.eventclasses/Zabbix/Zabbix_Proxy/Last_Seen/Too_High.json
  collections/fm.eventclassificationrules/Zabbix/Configuration_Syncer/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Data_Collection_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Last_Seen_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Loss_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Host/Ping_Response_Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Internal_Process/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/LLD_Worker/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Poller/Utilization_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Power/No_Data_Zabbix_Power_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Memory_Buffer/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Missing_Data_Item/Too_High_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Proxy/Version_Changed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Reboot_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Scenario_Step/Failed_Zabbix_.json
  collections/fm.eventclassificationrules/Zabbix/Unreachable_Poller/Utilization_High_Zabbix_.json
  core/etl/extractor/zabbix.py
Owners: @dv, @aversant

Update MikroTik.RouterOS profile #2 (#62)
  sa/profiles/MikroTik/RouterOS/get_capabilities.py
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Register test markers (#69)
  tests/conftest.py
Owners: @dv

Add PM Agent to ETL.
  core/etl/loader/base.py
  core/etl/loader/pmagent.py
  core/etl/models/managedobject.py
  core/etl/models/pmagent.py
  core/etl/models/sensor.py
  core/etl/models/typing.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/agentprofile.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-pm-agent-rs-loader' into 'master'
  core/etl/loader/base.py
  core/etl/loader/pmagent.py
  core/etl/models/managedobject.py
  core/etl/models/pmagent.py
  core/etl/models/sensor.py
  core/etl/models/typing.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/agentprofile.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9737
  core/etl/loader/base.py
  core/etl/loader/pmagent.py
  core/etl/models/managedobject.py
  core/etl/models/pmagent.py
  core/etl/models/sensor.py
  core/etl/models/typing.py
  core/etl/remotesystem/base.py
  inv/models/object.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/agentprofile.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Add DLink.DxS network OAM events (#68)
  collections/fm.eventclassificationrules/DLink/DxS/Network/OAM/Monitoring_Error_SYSLOG.json
Owners: none

Add DLink.DxS network STP classification rules (#70)
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_Role_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_State_Changed_SYSLOG_.json
Owners: none

Add Qtech.QSW2800 event classification rules (#72)
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/Link/Link_Up_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/STP/STP_Port_State_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Security/Audit/Command_SYSLOG_.json
Owners: none

Fix deprecation warning in svg.py (#73)
  core/svg.py
Owners: @dv, @aversant

Fix command_more/command_super deprecations
  core/profile/base.py
  sa/profiles/CData/xPON/profile.py
  sa/profiles/Cambium/ePMP/profile.py
  sa/profiles/Iskratel/ESCOM/profile.py
  sa/profiles/Meinberg/LANTIME/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Use uv in github actions
  .github/workflows/py-tests.yml
Owners: none

Fix
  .github/workflows/py-tests.yml
Owners: none

Fix
  .github/workflows/py-tests.yml
Owners: none

Move all to uv
  .github/workflows/build-docs.yml
  .github/workflows/py-tests.yml
Owners: none

Run github tests on collections change (#76)
  .github/workflows/py-tests.yml
Owners: none

Update interface oper_status fields when oper_status_set.
  inv/models/interface.py
Owners: @dv, @aversant

Add Configuration Domain Reaction to Rule.
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  ui/web/sa/actioncommands/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-apply-reaction-rule-cfg-domain' into 'master'
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  ui/web/sa/actioncommands/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-update-iface-oper-status-when-change' into 'master'
  inv/models/interface.py
Owners: @dv, @aversant

release-25.1:Backport!9739
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/reactionrule.py
  ui/web/sa/actioncommands/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9740
  inv/models/interface.py
Owners: @dv, @aversant

Fix param name.
  commands/collection.py
Owners: @dv, @aversant

Clean DLink | DxS | Network | STP | STP Port State Changed (SYSLOG) test_cases.
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_State_Changed_SYSLOG_.json
Owners: none

Add cfgmetricstarget datastream.
  commands/datastream.py
  config.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/metricrule.py
  sa/migrations/0265_migrate_caps_source_to_discovery.py
  sa/migrations/0266_rebuild_cfgmetricstarget_datastream.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/datastream/models/cfgmetrics.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/models/cfgtarget.py
  services/datastream/models/utils.py
  services/datastream/streams/cfgmetricstarget.py
  services/datastream/streams/cfgtarget.py
  services/metrics/service.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  sla/models/slaprobe.py
Owners: @dv, @aversant, @EKbfh

Merge branch 'patch-avs-add-cfgmetricstarget-datastream' into 'master'
  commands/datastream.py
  config.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/metricrule.py
  sa/migrations/0265_migrate_caps_source_to_discovery.py
  sa/migrations/0266_rebuild_cfgmetricstarget_datastream.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/datastream/models/cfgmetrics.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/models/cfgtarget.py
  services/datastream/models/utils.py
  services/datastream/streams/cfgmetricstarget.py
  services/datastream/streams/cfgtarget.py
  services/metrics/service.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  sla/models/slaprobe.py
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!9743
  commands/datastream.py
  config.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/interface.py
  inv/models/interfaceprofile.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  pm/models/agent.py
  pm/models/metricrule.py
  sa/migrations/0265_migrate_caps_source_to_discovery.py
  sa/migrations/0266_rebuild_cfgmetricstarget_datastream.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/datastream/models/cfgmetrics.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/models/cfgtarget.py
  services/datastream/models/utils.py
  services/datastream/streams/cfgmetricstarget.py
  services/datastream/streams/cfgtarget.py
  services/metrics/service.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  sla/models/slaprobe.py
Owners: @dv, @aversant, @EKbfh

Collection export: Filter by vendor
  commands/collection.py
Owners: @dv, @aversant

Merge branch 'noc-collection-export-by-vendor' into 'master'
  commands/collection.py
Owners: @dv, @aversant

release-25.1:Backport!9325
  commands/collection.py
Owners: @dv, @aversant

Merge branch 'fix-avs-ds-getting-role-cache' into 'master'
  services/datastream/paths/datastream.py
Owners: @dv, @aversant

release-25.1:Backport!9140
  services/datastream/paths/datastream.py
Owners: @dv, @aversant

Fix Active Alarm error when processed watch action.
  collections/fm.eventclassificationrules/Network/Link/Link_Down_SNMP_.json
  collections/fm.eventclassificationrules/Network/Link/Link_Up_SNMP_.json
  core/change/model.py
  fm/models/activealarm.py
  main/models/remotesystem.py
  pm/models/agent.py
Owners: @dv, @aversant

Merge branch 'catch-error-active-alarm-handler' into 'master'
  collections/fm.eventclassificationrules/Network/Link/Link_Down_SNMP_.json
  collections/fm.eventclassificationrules/Network/Link/Link_Up_SNMP_.json
  core/change/model.py
  fm/models/activealarm.py
  main/models/remotesystem.py
  pm/models/agent.py
Owners: @dv, @aversant

release-25.1:Backport!9749
  collections/fm.eventclassificationrules/Network/Link/Link_Down_SNMP_.json
  collections/fm.eventclassificationrules/Network/Link/Link_Up_SNMP_.json
  core/change/model.py
  fm/models/activealarm.py
  main/models/remotesystem.py
  pm/models/agent.py
Owners: @dv, @aversant
