Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Add more events to Cisco modules errors (#65)
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Invalid_Module_3_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Error_10_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Error_9_SYSLOG_.json
Owners: none

Add first part of BDCOM.xPON event classification rules (#66)
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/CPU/CPU_Usage_Above_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/CPU/CPU_Usage_Drops_Below_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/Fan/Fan_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/PSU/PSU_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/PSU/PSU_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Config/Config_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/DHCP/Untrusted_Server_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/LBD/Loop_Cleared_1_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/LBD/Loop_Detected_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Alarm_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Alarm_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Warning_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/Link_Up_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/STP_Port_State_Changed_MSTP_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/System/Started_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Unknown/Ignore_Line_Protocol_SYSLOG_.json
Owners: none

Add Sensors to cfgmetricsources.
  collections/pm.metricscopes/Sensor.json
  collections/wf.states/Agent_Default_Approved.json
  commands/datastream.py
  inv/models/sensor.py
  pm/models/agent.py
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-sensors-to-metricscollector' into 'master'
  collections/pm.metricscopes/Sensor.json
  collections/wf.states/Agent_Default_Approved.json
  commands/datastream.py
  inv/models/sensor.py
  pm/models/agent.py
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

#2738 Add expose to Label ETL Models.
  core/etl/models/label.py
  services/web/apps/main/label/views.py
Owners: @dv, @aversant

Merge branch 'noc-2738' into 'master'
  core/etl/models/label.py
  services/web/apps/main/label/views.py
Owners: @dv, @aversant

release-25.1:Backport!9751
  collections/pm.metricscopes/Sensor.json
  collections/wf.states/Agent_Default_Approved.json
  commands/datastream.py
  inv/models/sensor.py
  pm/models/agent.py
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

release-25.1:Backport!9752
  core/etl/models/label.py
  services/web/apps/main/label/views.py
Owners: @dv, @aversant

load leaflet (#78)
  .gitignore
  ui/build.ts
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/scripts/__test__/DependencyGraph.test.ts
  ui/scripts/__test__/ExtApplicationVisitor.test.ts
  ui/scripts/__test__/ExtDefineVisitor.test.ts
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/scripts/visitors/MethodReplaceVisitor.ts
  ui/tests-playwright/login.spec.ts
  ui/vitest.config.js
Owners: @d.zakharov, @dv

Fix ContainerType.is_container() (#80)
  inv/models/objectmodel.py
Owners: @dv, @aversant

Ruff PT001, PT003, PT023 (#75)
  tests/fm/test_alarm_job.py
  tests/fm/test_alarm_watchers.py
  tests/fm/test_calculate_severity.py
  tests/models/test_capabilities.py
  tests/models/test_remote_mappings.py
  tests/test_ber.py
Owners: @dv, @aversant

Combine npkg to a single bundle (#81)
  scripts/build/build-ui
Owners: none

ruff: Enable PT tests (#82)
  pyproject.toml
  tests/cdag/node/test_state.py
  tests/cdag/node/test_window.py
  tests/conftest.py
  tests/core/models/test_escalationpolicy.py
  tests/fm/test_alarm_watchers.py
  tests/interface/test_base.py
  tests/models/test_0004_models.py
  tests/nbi/test_getmappings.py
  tests/reporter/test_get_rows.py
  tests/test_ber.py
  tests/test_ip.py
  tests/test_vlanmap.py
Owners: @dv, @aversant, @EKbfh

noc-supp-fix-qtech2800-normalizer
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix condition typo on cfgtarget datastream.
  services/datastream/streams/cfgtarget.py
Owners: @dv, @aversant

Merge branch 'fix-cfgtarget-condition-typo' into 'master'
  services/datastream/streams/cfgtarget.py
Owners: @dv, @aversant

release-25.1:Backport!9757
  services/datastream/streams/cfgtarget.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-qtech2800-normalizer' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix cfgtarget condition typo.
  services/datastream/streams/cfgtarget.py
Owners: @dv, @aversant

release-23.1:Backport!9756
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'fix-avs-cfgtarget-condition-typo' into 'master'
  services/datastream/streams/cfgtarget.py
Owners: @dv, @aversant

release-23.1:Backport!9760
  services/datastream/streams/cfgtarget.py
Owners: @dv, @aversant

fix: reorder CSS link for app-prod-bundle to ensure proper loading (#85)
  ui/scripts/index-template-prod.html
Owners: none

Leaflet and Yandex API load async (#84)
  .gitignore
  scripts/build/build-ui
  ui/build-bundle.ts
  ui/build.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/src/Yandex.js
  ui/scripts/plugins/ExternalLibsPlugin.ts
Owners: @d.zakharov, @dv

Run UI build for JS tests
  .github/workflows/js-tests.yml
Owners: none

Run js-build after js-lint (#87)
  .github/workflows/js-tests.yml
  scripts/build/build-ui
Owners: none

Replace Service Profile caps settings to CapsProfile.
  core/caps/decorator.py
  core/models/valuetype.py
  sa/models/capsprofile.py
  sa/models/serviceprofile.py
  services/web/base/decorators/caps.py
  ui/web/pm/agent/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Replace Service Profile caps settings to CapsProfile.
  core/caps/decorator.py
  core/models/valuetype.py
  sa/models/capsprofile.py
  sa/models/serviceprofile.py
  services/web/base/decorators/caps.py
  ui/web/pm/agent/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

release-23.1:Backport!9763
  core/caps/decorator.py
  core/models/valuetype.py
  sa/models/capsprofile.py
  sa/models/serviceprofile.py
  services/web/base/decorators/caps.py
  ui/web/pm/agent/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Use Key for getting RemoteSystem on metrics collector.
  collections/pm.metrictypes/CPU/Usage.json
  collections/pm.metrictypes/Memory/Usage.json
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Owners: @dv, @aversant

Merge branch 'patch-avs-metricscollecto-use-key-auth' into 'master'
  collections/pm.metrictypes/CPU/Usage.json
  collections/pm.metrictypes/Memory/Usage.json
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Owners: @dv, @aversant

release-25.1:Backport!9765
  collections/pm.metrictypes/CPU/Usage.json
  collections/pm.metrictypes/Memory/Usage.json
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Owners: @dv, @aversant

fix: update monaco.css import path in app-dev and app-prod stylesheets (#89)
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
Owners: @d.zakharov, @dv

noc-supp-fix-collections-Alstec-2100-03
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
Owners: none

Django 4.2.26 (#91)
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Configurable home dashboards (#95)
  config.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/home.md
  services/web/apps/main/home/views.py
Owners: @dv, @aversant, @EKbfh

Add ActionSet to Action model.
  sa/models/action.py
  sa/models/actioncommands.py
  tests/collections/test_sa_actioncommands.py
  ui/web/sa/action/Application.js
  ui/web/sa/action/Model.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Owners: @dv, @aversant, @d.zakharov

Add ActionSet to Action model.
  sa/models/action.py
  sa/models/actioncommands.py
  tests/collections/test_sa_actioncommands.py
  ui/web/sa/action/Application.js
  ui/web/sa/action/Model.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9768
  sa/models/action.py
  sa/models/actioncommands.py
  tests/collections/test_sa_actioncommands.py
  ui/web/sa/action/Application.js
  ui/web/sa/action/Model.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Owners: @dv, @aversant, @d.zakharov

Add inv/Topology Problem report
  collections/main.reports/Topology_Problem.json
  core/datasources/topologyproblemds.py
Owners: @dv, @aversant
