Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Merge branch 'report-engine-topology-problem' into 'master'
  collections/main.reports/Topology_Problem.json
  core/datasources/topologyproblemds.py
Owners: @dv, @aversant

Add inv/Link Detail report
  collections/main.reports/Link_Detail.json
  core/datasources/linkdetailds.py
Owners: @dv, @aversant

Merge branch 'report-engine-link-detail' into 'master'
  collections/main.reports/Link_Detail.json
  core/datasources/linkdetailds.py
Owners: @dv, @aversant

release-25.1:Backport!9719
  collections/main.reports/Topology_Problem.json
  core/datasources/topologyproblemds.py
Owners: @dv, @aversant

release-25.1:Backport!9755
  collections/main.reports/Link_Detail.json
  core/datasources/linkdetailds.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-collections-Alstec-2100-03' into 'master'
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
Owners: none

Merge branch 'fix-rm-simpletable-formatter-for-csv' into 'master'
  core/reporter/formatter/simpletable.py
  core/reporter/formatter/utils.py
Owners: @dv, @aversant

release-25.1:Backport!9767
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
Owners: none

Add fix for fix suspended jobs that occures on big outage
  fixes/fix_jobs.py
Owners: @dv, @aversant

release-25.1:Backport!9647
  core/reporter/formatter/simpletable.py
  core/reporter/formatter/utils.py
Owners: @dv, @aversant

Merge branch 'noc-fixes-fix-jobs' into 'master'
  fixes/fix_jobs.py
Owners: @dv, @aversant

release-25.1:Backport!8914
  fixes/fix_jobs.py
Owners: @dv, @aversant

Fix end-date in 'Alarm Detail (new)' report
  core/datasources/reportdsalarms.py
Owners: @dv, @aversant

Add time_params to Report Config.
  core/datasources/reportdsalarms.py
  core/reporter/base.py
  core/reporter/types.py
  main/models/report.py
  ui/web/main/reportconfig/Model.js
Owners: @dv, @aversant, @d.zakharov

Add to application.
  main/models/report.py
  ui/web/main/reportconfig/Application.js
Owners: @dv, @aversant, @d.zakharov

Clean typo.
  core/datasources/reportdsalarms.py
Owners: @dv, @aversant

Add inv/Moved MACs report
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Owners: @dv, @aversant

Merge branch 'report-engine-moved-mac' into 'master'
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Owners: @dv, @aversant

release-25.1:Backport!9538
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Owners: @dv, @aversant

ServiceStub: batching publisher (#79)
  core/service/stub.py
Owners: @dv, @aversant

Migrate requests to gufo-http
  core/etl/extractor/fias.py
  support/cp.py
Owners: @dv, @aversant

Tranform pm/ddash application to use resources
  core/importer.py
  services/web/apps/pm/ddash/dashboards/base.py
Owners: @dv, @aversant

ReportEngine: Fix saving to xlsx file in 'simpletable' handler
  core/reporter/formatter/simpletable.py
Owners: @dv, @aversant

Fix Render action method on Run Commands.
  sa/models/action.py
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

Merge branch 'fix-avs-runcommands-render-action' into 'master'
  sa/models/action.py
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

release-25.1:Backport!9776
  sa/models/action.py
  sa/models/reactionrule.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

refactor: enhance ColorField to use HTML5 color input and improve color handling (#98)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/main/style/Application.js
  ui/web/ux/form/ColorField.js
Owners: @d.zakharov, @dv

ServiceStub: batching publisher (#79)
  core/service/stub.py
Owners: @dv, @aversant

Return Provisioned Policy Settings to SLA and VLAN.
  core/topology/map/l2domain.py
  sa/models/action.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sla/slaprofile/Application.js
  ui/web/sla/slaprofile/Model.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
Owners: @dv, @aversant, @d.zakharov

ServiceStub: batching publisher (#79)
  core/service/stub.py
Owners: @dv, @aversant

Return Provisioned Policy Settings to SLA and VLAN.
  core/topology/map/l2domain.py
  sa/models/action.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sla/slaprofile/Application.js
  ui/web/sla/slaprofile/Model.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9778
  core/topology/map/l2domain.py
  sa/models/action.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  ui/web/sla/slaprofile/Application.js
  ui/web/sla/slaprofile/Model.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/l2domainprofile/Model.js
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-rm-formatter-simpletable' into 'master'
  core/reporter/formatter/simpletable.py
Owners: @dv, @aversant

release-25.1:Backport!9761
  core/reporter/formatter/simpletable.py
Owners: @dv, @aversant

Tranform Card service to use resources
  services/card/base.py
  services/card/cards/base.py
  services/card/paths/card.py
Owners: @dv, @aversant

Fix BaseCard - get_template
  config.py
  services/card/cards/base.py
Owners: @dv, @aversant, @EKbfh

Update CardAPI for search in noc.custom
  services/card/paths/card.py
Owners: @dv, @aversant

Fix ruff
  config.py
Owners: @dv, @aversant, @EKbfh

yappi 1.7.3 (#103)
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

build dev mode fix (#104)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/ApplicationLoaderPlugin.ts
  ui/scripts/plugins/NocLoaderPlugin.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
Owners: none
