Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Merge branch 'noc-supp-fix-qtech2800-normalizer-card' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp4.yml
Owners: @dv, @aversant, @dmitryluhtionov

release-23.1:Backport!9995
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp4.yml
Owners: @dv, @aversant, @dmitryluhtionov

Add 'fqdn' field to ApplicationModel
  ui/web/sa/managedobject/ApplicationModel.js
Owners: @d.zakharov, @dv

Add FQDN column to managed object table
  ui/web/sa/managedobject/Application.js
Owners: @d.zakharov, @dv

Add fqdn field to managed object view
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Merge branch 'pathc-avs-diagnostic-ttl' into 'master'
  core/checkers/base.py
  core/checkers/fail.py
  core/checkers/http.py
  core/checkers/loader.py
  core/checkers/registry.py
  core/diagnostic/decorator.py
  core/diagnostic/handler.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/diagnostic/types.py
  core/models/cfgactions.py
  core/profile/diagnostic.py
  core/script/credentialchecker.py
  core/script/diagnostic.py
  core/watchers/types.py
  core/wf/decorator.py
  sa/models/diagnosticitem.py
  sa/models/managedobject.py
  sa/models/service.py
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Merge branch 'fix-avs-peer-organization-error' into 'master'
  core/diagnostic/item.py
  core/wf/decorator.py
  peer/models/peer.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Add Register as Notification Method to MessageRoute.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
  services/web/apps/main/ref/views.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
  ui/web/main/notificationgroup/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-stopped-watchers' into 'master'
  core/watchers/decorator.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

Merge branch 'fix-avs-diagnostic-typo' into 'master'
  core/diagnostic/decorator.py
  core/script/diagnostic.py
Owners: @dv, @aversant

feat: refactor MapPanel and MapRendererPlaceholder to remove currentHighlight and enhance event handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: enhance map interaction with search functionality and event handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

Add MapRenderer and MapRendererPlaceholder classes for network map visualization
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: add event handler removal
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: integrate Zoom plugin into map application and enhance zoom functionality
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: enhance build process and add new bundling scripts for improved development workflow
  ui/build-bundle.ts
  ui/build-bundles-prod.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/bundles/joint/index.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/watch-bundles.ts
Owners: @d.zakharov, @dv

feat: enhance context menu handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: update Node.js version and adjust build scripts for compatibility
  ui/package.json
  ui/scripts/index-template.html
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: add topo-map build script and dependency to package.json
  ui/pnpm-lock.yaml
Owners: none

feat: remove zoom combo and related components from map application
  ui/web/inv/map/Application.js
Owners: @d.zakharov, @dv

feat: implement topology map rendering and update map panel structure
  ui/eslint.config.mjs
  ui/scripts/index-template.html
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/main/desktop/WorkplacePanel.js
Owners: @d.zakharov, @dv

feat: remove MiniMap component and refactor event handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/inv/map/MiniMap.js
Owners: @d.zakharov, @dv

feat: remove unused JointJS dependencies and clean up related code
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/ShapeRegistry.js
Owners: @d.zakharov, @dv

feat: update event names in MapPanel and MapRendererPlaceholder for consistency
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: update object status handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: refactor map and workflow editor modules
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/wf/workflow/WFEditor.js
Owners: @d.zakharov, @dv

refactor: remove duplicated polling logic, delegate to Polling mixin
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

feat: update actions/checkout to v5
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-master.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
Owners: none

feat: add random status assignment in applyObjectStatuses for testing purposes
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: remove unused hasStp property and update renderMap to manage STP button state
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: undo/redo functionality in WFEditor
  ui/web/wf/workflow/WFEditor.js
Owners: @d.zakharov, @dv

chore: restore workflows from master
  .github/workflows/js-tests.yml
Owners: none

feat: enhance onResize method to notify renderer
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

feat: refactor onSegmentMenuAddToBasket to use modern syntax and improve object handling
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

feat: update Dockerfile and build script to use pnpm with frozen lockfile
  Dockerfile
  scripts/build/build-ui
Owners: none

feat: remove unused scroll handling and related methods in MapPanel
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

feat: update bundle configuration
  ui/build-bundles-prod.ts
  ui/web/wf/workflow/WFEditor.js
Owners: @d.zakharov, @dv

refactor: track window focus state in Polling mixin via _windowFocused flag
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/Mixins.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

js-package vulnerabilities fixed
  ui/tsconfig.json
Owners: none

feat: remove redundant segment loading from getHistoryHash method
  ui/web/inv/map/Application.js
Owners: @d.zakharov, @dv
