Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Refactor Action commands
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_cdp.json
  collections/sa.actioncommands/Cisco/IOS/ping.json
  collections/sa.actioncommands/Cisco/IOS/reboot.json
  collections/sa.actioncommands/Cisco/IOS/set_description.json
  collections/sa.actioncommands/Cisco/IOS/set_interface_description.json
  collections/sa.actioncommands/Juniper/JUNOS/reboot.json
  collections/sa.actioncommands/MikroTik/RouterOS/ping.json
  collections/sa.actioncommands/MikroTik/RouterOS/reboot.json
  collections/sa.actioncommands/MikroTik/RouterOS/set_description.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/disable_cdp.json
  collections/sa.actions/enable_cdp.json
  collections/sa.actions/ping.json
  collections/sa.actions/reboot.json
  collections/sa.actions/reset_interface.json
  collections/sa.actions/set_interface_description.json
  collections/sa.actions/show_interface.json
  core/models/valuetype.py
  core/runner/actions/action_commands.py
  main/models/handler.py
  sa/interfaces/icommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/managedobject.py
  sa/profiles/Generic/commands.py
  services/mrt/models/mrt.py
  services/web/apps/sa/actioncommands/views.py
  services/web/apps/sa/runcommands/views.py
  tests/collections/test_sa_actioncommands.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/action/Application.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/runcommands/Application.js
  ui/web/sa/runcommands/Controller.js
Owners: @dv, @aversant, @dmitryluhtionov, @d.zakharov

Refactor Action commands
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_cdp.json
  collections/sa.actioncommands/Cisco/IOS/ping.json
  collections/sa.actioncommands/Cisco/IOS/reboot.json
  collections/sa.actioncommands/Cisco/IOS/set_description.json
  collections/sa.actioncommands/Cisco/IOS/set_interface_description.json
  collections/sa.actioncommands/Juniper/JUNOS/reboot.json
  collections/sa.actioncommands/MikroTik/RouterOS/ping.json
  collections/sa.actioncommands/MikroTik/RouterOS/reboot.json
  collections/sa.actioncommands/MikroTik/RouterOS/set_description.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/disable_cdp.json
  collections/sa.actions/enable_cdp.json
  collections/sa.actions/ping.json
  collections/sa.actions/reboot.json
  collections/sa.actions/reset_interface.json
  collections/sa.actions/set_interface_description.json
  collections/sa.actions/show_interface.json
  core/models/valuetype.py
  core/runner/actions/action_commands.py
  main/models/handler.py
  sa/interfaces/icommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/managedobject.py
  sa/profiles/Generic/commands.py
  services/mrt/models/mrt.py
  services/web/apps/sa/actioncommands/views.py
  services/web/apps/sa/runcommands/views.py
  tests/collections/test_sa_actioncommands.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/action/Application.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/runcommands/Application.js
  ui/web/sa/runcommands/Controller.js
Owners: @dv, @aversant, @dmitryluhtionov, @d.zakharov

release-25.1:Backport!9696
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/enable_cdp.json
  collections/sa.actioncommands/Cisco/IOS/ping.json
  collections/sa.actioncommands/Cisco/IOS/reboot.json
  collections/sa.actioncommands/Cisco/IOS/set_description.json
  collections/sa.actioncommands/Cisco/IOS/set_interface_description.json
  collections/sa.actioncommands/Juniper/JUNOS/reboot.json
  collections/sa.actioncommands/MikroTik/RouterOS/ping.json
  collections/sa.actioncommands/MikroTik/RouterOS/reboot.json
  collections/sa.actioncommands/MikroTik/RouterOS/set_description.json
  collections/sa.actions/add_vlan.json
  collections/sa.actions/disable_cdp.json
  collections/sa.actions/enable_cdp.json
  collections/sa.actions/ping.json
  collections/sa.actions/reboot.json
  collections/sa.actions/reset_interface.json
  collections/sa.actions/set_interface_description.json
  collections/sa.actions/show_interface.json
  core/models/valuetype.py
  core/runner/actions/action_commands.py
  main/models/handler.py
  sa/interfaces/icommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  sa/models/managedobject.py
  sa/profiles/Generic/commands.py
  services/mrt/models/mrt.py
  services/web/apps/sa/actioncommands/views.py
  services/web/apps/sa/runcommands/views.py
  tests/collections/test_sa_actioncommands.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/action/Application.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/runcommands/Application.js
  ui/web/sa/runcommands/Controller.js
Owners: @dv, @aversant, @dmitryluhtionov, @d.zakharov

Fix processed MX_NOTIFICATION_METHOD header on tgsender.
  core/router/action.py
  services/tgsender/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-notification-method-header' into 'master'
  core/router/action.py
  services/tgsender/service.py
Owners: @dv, @aversant

release-25.1:Backport!9698
  core/router/action.py
  services/tgsender/service.py
Owners: @dv, @aversant

Dockerfile: Use uv (#33)
  Dockerfile
Owners: none

GitHub JS lint (#31)
  .devcontainer/devcontainer.json
  .github/workflows/js-tests.yml
  .gitlab-ci.yml
  docker-entrypoint.sh
  ui/package-lock.json
  ui/web/sa/capsprofile/Application.js
Owners: @dv, @EKbfh, @d.zakharov

devcontainer: Python tests setup (#34)
  .devcontainer/devcontainer.json
Owners: none

Security: Patch prototype pollution vulnerability for metricaction (#30)
  ui/pnpm-lock.yaml
  ui/vitest.config.js
  ui/web/package.json
  ui/web/pm/metricaction/Application.js
  ui/web/pnpm-lock.yaml
  ui/web/sa/action/Application.js
Owners: @d.zakharov, @dv

improve home tab retrieval logic (#32)
  ui/web/fm/alarm/ApplicationController.js
  ui/web/main/desktop/WorkplacePanel.js
Owners: @d.zakharov, @dv

Do not resolve services via consul during --collect-only (#35)
  core/model/db/base.py
  settings.py
  tests/collections/test_inv_objectmodels.py
  tests/conftest.py
Owners: @dv, @aversant

Add CITATION.cff (#36)
  CITATION.cff
Owners: none

Add NoDataChecker to MetricsCollector
  config.py
  core/checkers/base.py
  core/diagnostic/hub.py
  core/service/nodatachecker.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Merge branch 'patch-avs-add-nodatachecker-to-collector' into 'master'
  config.py
  core/checkers/base.py
  core/diagnostic/hub.py
  core/service/nodatachecker.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!9700
  config.py
  core/checkers/base.py
  core/diagnostic/hub.py
  core/service/nodatachecker.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Fix bi netflow model. Add NAT fields
  bi/models/netflow.py
Owners: @dv, @aversant

fix async for net-scan
  commands/net-scan.py
Owners: @dv, @aversant

chore: add pnpm workspace configuration with dependency overrides for dompurify and vite (#38)
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Owners: none

GitHub workflow permissions (#39)
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
Owners: none

ruff 0.14.1 (#40)
  pyproject.toml
  sa/models/credentialcheckrule.py
Owners: @dv, @aversant, @EKbfh

Remove 'Other' option from report type selection (#43)
  ui/web/inv/reportmetrics/Application.js
Owners: @d.zakharov, @dv

Remove 'Other' option from report type selection (#46)
  ui/web/inv/reportmetrics/Application.js
Owners: @d.zakharov, @dv

chore: update package.json and package-lock.json for dependency management (#44)
  ui/package-lock.json
  ui/package.json
  ui/pnpm-workspace.yaml
Owners: none

Config typing (#27)
  config.py
  core/config/params.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

Merge branch 'noc-bi-netflow' into 'master'
  bi/models/netflow.py
Owners: @dv, @aversant

release-25.1:Backport!9433
  ui/web/core/InlineModelStore.js
Owners: @d.zakharov, @dv

release-25.1:Backport!9702
  bi/models/netflow.py
Owners: @dv, @aversant

Merge branch 'noc-fix-net-scan' into 'master'
  commands/net-scan.py
Owners: @dv, @aversant

release-25.1:Backport!9703
  commands/net-scan.py
Owners: @dv, @aversant

Add from_reference to RemoteSystem model and use it on Service.
  aaa/models/apikey.py
  main/models/remotesystem.py
  sa/models/service.py
  sa/models/serviceprofile.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-resolve-reference-to-remote-system' into 'master'
  aaa/models/apikey.py
  main/models/remotesystem.py
  sa/models/service.py
  sa/models/serviceprofile.py
Owners: @dv, @aversant

release-25.1:Backport!9707
  aaa/models/apikey.py
  main/models/remotesystem.py
  sa/models/service.py
  sa/models/serviceprofile.py
Owners: @dv, @aversant

Build UI in docker container (#47)
  Dockerfile
  scripts/build/build-ui
Owners: none

Docker image nightly builds (#48)
  .github/workflows/docker-master.yml
Owners: none

Setup buildx for docker image build (#49)
  .github/workflows/docker-master.yml
Owners: none

Publish master ui builds (#50)
  .github/workflows/ui-master.yml
Owners: none

Add filter params to movedmacsds and update report-config
  collections/main.reports/Moved_MACs.json
  core/datasources/movedmacsds.py
Owners: @dv, @aversant

Fix ui publish (#51)
  .github/workflows/ui-master.yml
  config.py
  docs/config-reference/customization.md
  scripts/build/build-ui
  services/web/apps/main/desktop/views.py
  templates/admin/base.html
  ui/build.ts
  ui/common/settings_loader.js
  ui/package.json
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/VendorBuilder.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/AliasPlugin.ts
  ui/scripts/plugins/ApplicationLoaderPlugin.ts
  ui/scripts/plugins/CopyLibPlugin.ts
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/web/inv/inv/Application.js
  ui/web/js/boot.js
  ui/web/main/desktop/About.js
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/desktop/app.js
Owners: @dv, @aversant, @EKbfh, @d.zakharov

Change build-master release (#52)
  .github/workflows/ui-master.yml
Owners: none

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
