Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Fix logging level.
  core/change/decorator.py
Owners: @dv, @aversant

Merge branch 'fix-avs-calc-changed-dict-field' into 'master'
  core/change/decorator.py
  core/model/decorator.py
Owners: @dv, @aversant

Fix register maintenance outages on service.
  bi/models/serviceoutages.py
  maintenance/models/maintenance.py
  sa/models/service.py
Owners: @dv, @aversant

Fix typo.
  maintenance/models/maintenance.py
  sa/models/service.py
Owners: @dv, @aversant

release-25.1:Backport!10080
  bi/models/serviceoutages.py
  maintenance/models/maintenance.py
  sa/models/service.py
Owners: @dv, @aversant

Fix applied exclude labels on CredentialCheck Rules conditions.
  core/script/diagnostic.py
  sa/models/credentialcheckrule.py
  ui/web/sa/credentialcheckrule/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!10077
  core/script/diagnostic.py
  sa/models/credentialcheckrule.py
  ui/web/sa/credentialcheckrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-getting-maintenance-on-service-status' into 'master'
  main/models/remotesystem.py
  sa/models/serviceprofile.py
  services/nbi/paths/servicestatus.py
Owners: @dv, @aversant

release-25.1:Backport!10085
  main/models/remotesystem.py
  sa/models/serviceprofile.py
  services/nbi/paths/servicestatus.py
Owners: @dv, @aversant

release-25.1:Backport!10087
  core/checkers/base.py
  services/discovery/jobs/box/nri_service.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/service.py
  services/scheduler/service.py
Owners: @dv, @aversant

Merge branch 'patch-avs-rule-checks-on-metrics-service' into 'master'
  core/cdag/node/metrics.py
  pm/models/metricrule.py
  services/datastream/models/cfgmetricrules.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
Owners: @dv, @aversant

release-25.1:Backport!10090
  core/cdag/node/metrics.py
  pm/models/metricrule.py
  services/datastream/models/cfgmetricrules.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
Owners: @dv, @aversant

Merge branch 'fix-avs-disposition-rule' into 'master'
  core/cdag/node/metrics.py
  core/etl/loader/base.py
  fm/models/dispositionrule.py
Owners: @dv, @aversant

Replace fsspec with Gufo Blob
  commands/beef.py
  commands/script.py
  core/script/beef.py
  main/models/extstorage.py
  pyproject.toml
  sa/models/managedobject.py
  services/discovery/jobs/box/config.py
  services/web/apps/inv/inv/plugins/opm.py
  services/web/apps/inv/inv/plugins/pconf.py
Owners: @dv, @aversant, @EKbfh

Replace fsspec with Gufo Blob
  commands/beef.py
  commands/script.py
  core/script/beef.py
  main/models/extstorage.py
  pyproject.toml
  sa/models/managedobject.py
  services/discovery/jobs/box/config.py
  services/web/apps/inv/inv/plugins/opm.py
  services/web/apps/inv/inv/plugins/pconf.py
Owners: @dv, @aversant, @EKbfh

Fix fixture loading
  tests/conftest.py
Owners: @dv

Remove fsspec usage
  tests/collections/test_fm_eventclassificationrule.py
  tests/conftest.py
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv

Fix
  core/etl/bi/extractor/archive.py
Owners: @dv, @aversant

Community Guide: Add discord server (#530)
  README.md
  docs/community-guide/index.md
  docs/community-guide/index.ru.md
Owners: @dv, @EKbfh, @aversant

Disable CodeQL (#596)
  .github/workflows/codeql.yml
Owners: none
