Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Add Job action type to MX messages.
  core/mx.py
  core/router/action.py
  core/router/route.py
  main/models/messageroute.py
  services/metricscollector/service.py
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  core/router/action.py
Owners: @dv, @aversant

Fix flake.
  core/router/action.py
Owners: @dv, @aversant

Add Job action type to MX messages.
  core/mx.py
  core/router/action.py
  core/router/route.py
  main/models/messageroute.py
  services/metricscollector/service.py
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @d.zakharov

Add sync Maintenance on Service model.
  core/etl/loader/maintenance.py
  maintenance/models/maintenance.py
  sa/models/managedobject.py
  sa/models/service.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-watcher-job' into 'master'
  core/watchers/decorator.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/models/managedobject.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-refresh-labels-on-service-instance-objects' into 'master'
  core/caps/types.py
  core/models/valuetype.py
  main/models/label.py
  sa/models/capsprofile.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-watchers-to-maintenance' into 'master'
  core/models/cfgactions.py
  core/mx.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

Merge branch 'fix-avs-ensure-label-when-add-etl' into 'master'
  main/models/label.py
Owners: @dv, @aversant

Merge branch 'fix-avs-processed-metricscollector-sensor' into 'master'
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  sa/models/servicesummary.py
  services/metricscollector/models/channel.py
  services/metricscollector/service.py
  services/web/apps/pm/ddash/dashboards/mo.py
Owners: @dv, @aversant

Merge branch 'fix-avs-refresh-object-label' into 'master'
  main/models/label.py
Owners: @dv, @aversant

Merge branch 'fix-avs-processed-sensor-metrics-service' into 'master'
  core/cdag/node/metrics.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
Owners: @dv, @aversant

Fix processed LinkEvent action.
  Dockerfile
  collections/fm.eventclassificationrules/Network/Link/Link_Up_SNMP_.json
  core/fm/enum.py
  services/classifier/actionset.py
  services/classifier/eventconfig.py
  services/classifier/service.py
Owners: @dv, @aversant

Fix apply MetricRules threshold to sensor scopes.
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  core/convert/percent.py
  core/expr.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/migrations/0015_rebuild_cfgmetricrules_datastream.py
  pm/models/metricaction.py
  pm/models/metricrule.py
  sa/models/managedobject.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
  sla/models/slaprobe.py
  tests/cdag/node/test_util.py
  tests/cdag/node/util.py
  ui/web/pm/metricrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-ensure-disposition-rule' into 'master'
  services/correlator/service.py
  services/metricscollector/models/channel.py
Owners: @dv, @aversant

Merge branch 'fix-avs-skip-deleted-data-in-discoveredobject' into 'master'
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'fix-avs-metric-rule-typo' into 'master'
  pm/models/metricrule.py
  services/metrics/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-maintenance-on-save-refresh' into 'master'
  maintenance/models/maintenance.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

Merge branch 'fix-avs-add-lost-link-event-method' into 'master'
  core/fm/enum.py
  fm/models/eventclass.py
  services/classifier/actionset.py
  services/classifier/eventconfig.py
  services/classifier/service.py
  services/datastream/models/cfgevent.py
Owners: @dv, @aversant

Merge branch 'fix-avs-use-labels-ex-labels-route-condition' into 'master'
  core/router/route.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-rebuild-cfgevent-datastream' into 'master'
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  core/mx.py
  fm/migrations/0065_rebuld_dispositionrule_datastream.py
  maintenance/models/maintenance.py
  services/classifier/actionset.py
  services/classifier/service.py
Owners: @dv, @aversant

Add Load_Metrics report config
  collections/main.reports/Load_Metrics.json
  core/reporter/formatter/simplereport.py
Owners: @dv, @aversant

Add detect alarm changed to AlarmJob.
  core/fm/enum.py
  core/fm/request.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/correlator/rule.py
  services/correlator/service.py
  services/escalator/jobs/check_tt.py
  tests/fm/test_alarm_job.py
  ui/web/fm/ttsystem/Application.js
  ui/web/fm/ttsystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix suggests protocol ordered on CLI.
  core/script/credentialchecker.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-assigned-to-ttsystem-context' into 'master'
  commands/alarm.py
  core/fm/request.py
  core/tt/base.py
  core/tt/types.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Merge branch 'fix-rm-metric-scope-ensure-table' into 'master'
  pm/models/metricscope.py
Owners: @dv, @aversant

release-23.1:Backport!9354
  pm/models/metricscope.py
Owners: @dv, @aversant

Merge branch 'patch-avs-group-alarm-escalationpolicy-processed' into 'master'
  core/fm/enum.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmwatch.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmjob.py
  services/correlator/service.py
Owners: @dv, @aversant

Merge branch 'fix-alarm-job-for-group' into 'master'
  core/fm/enum.py
  sa/models/service.py
  services/card/templates/alarm.html.j2
  services/correlator/alarmjob.py
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

Merge branch 'fix-slaprobe-has-metrics' into 'master'
  inv/models/cpe.py
  inv/models/interfaceprofile.py
  inv/models/object.py
  inv/models/sensor.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-etl-event-push' into 'master'
  core/etl/remotesystem/base.py
  core/mx.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-alarm-log-tt-sync' into 'master'
  core/fm/enum.py
  core/fm/request.py
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/alarmlog.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/jobs/check_tt.py
  services/escalator/tt/tg_bot.py
  tests/fm/test_alarm_job.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-qtech-normalizer-community' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp1.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp2.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp3.yml
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-supp-fix-qtech-normalizer-community' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp1.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp2.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp3.yml
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'fix-avs-check-tt-job' into 'master'
  core/fm/enum.py
  core/fm/request.py
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/jobs/check_tt.py
  tests/fm/test_alarm_job.py
Owners: @dv, @aversant

release-23.1:Backport!9917
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp1.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp2.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp3.yml
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-fix-ping-attempts' into 'master'
  services/ping/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-add-ignored-fileds' into 'master'
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-EdgeCore-ES-get_ifindexes' into 'master'
  sa/profiles/EdgeCore/ES/get_ifindexes.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-supp-fix-EdgeCore-ES-get_ifindexes' into 'master'
  sa/profiles/EdgeCore/ES/get_ifindexes.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov
