Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

chore: update js-yaml to version 4.1.1 and ensure dompurify is set to ^3.3.0 in package.json and pnpm-lock.yaml (#106)
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

fix: add uiStyle property to Lookup filter field configuration (#105)
  ui/web/core/modelfilter/Lookup.js
Owners: @d.zakharov, @dv

Disable Export button when no objects (#108)
  ui/web/maintenance/maintenance/ObjectsPanel.js
Owners: @d.zakharov, @dv

mkdocs-material 9.7.0, disable mkdocs-static-i18n on blog items (#110)
  mkdocs.yml
  pyproject.toml
  scripts/docs/hooks/blog.py
Owners: @dv, @aversant, @EKbfh

Add second part of BDCOM.xPON event classification rules (#99)
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/BPDU_Root_Violation_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/Root_Guard_Recovery_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_2_SYSLOG.json
Owners: none

Add MAC exceed alarm/eventclasses (#102)
  collections/fm.alarmclasses/Network/MAC/BD_MAC_Exceed.json
  collections/fm.alarmclasses/Network/MAC/Link_MAC_Exceed.json
  collections/fm.alarmclasses/Network/MAC/MAC_Exceed.json
  collections/fm.eventclasses/Network/MAC/BD_MAC_Exceed.json
  collections/fm.eventclasses/Network/MAC/MAC_Exceed.json
Owners: none

Noc maintenance disable export btn (#111)
  ui/web/inv/interfaceprofile/Application.js
Owners: @d.zakharov, @dv

fix: set scrollBeyondLastLine and scrollBeyondLastColumn properties in monaco editor (#112)
  ui/web/core/CodeViewer.js
Owners: @d.zakharov, @dv

Fallout OS.FreeBSD profile (#107)
  collections/inv.vendors/FREEBSD.json
  collections/sa.profilecheckrules/OS/BSD/FreeBSD_sysObjectID.json
  sa/profiles/OS/FreeBSD/__init__.py
  sa/profiles/OS/FreeBSD/get_arp.py
  sa/profiles/OS/FreeBSD/get_capabilities.py
  sa/profiles/OS/FreeBSD/get_config.py
  sa/profiles/OS/FreeBSD/get_fqdn.py
  sa/profiles/OS/FreeBSD/get_interface_status.py
  sa/profiles/OS/FreeBSD/get_interfaces.py
  sa/profiles/OS/FreeBSD/get_lldp_neighbors.py
  sa/profiles/OS/FreeBSD/get_local_users.py
  sa/profiles/OS/FreeBSD/get_ntp_status.py
  sa/profiles/OS/FreeBSD/get_portchannel.py
  sa/profiles/OS/FreeBSD/get_resolver_config.py
  sa/profiles/OS/FreeBSD/get_uptime.py
  sa/profiles/OS/FreeBSD/get_version.py
  sa/profiles/OS/FreeBSD/ping.py
  sa/profiles/OS/FreeBSD/profile.py
  sa/profiles/OS/FreeBSD/snmp_metrics/cpu_load_1min.json
  sa/profiles/OS/FreeBSD/snmp_metrics/cpu_load_5min.json
  sa/profiles/OS/FreeBSD/snmp_metrics/memory_usage.json
  sa/profiles/OS/FreeBSD/snmp_metrics/memory_usage_bytes.json
Owners: @dv, @aversant, @dmitryluhtionov

Add first part of xPON event/alarm classes (#100)
  collections/fm.alarmclasses/Network/xPON/Laser_Always_On.json
  collections/fm.alarmclasses/Network/xPON/ONU/Power_Failed.json
  collections/fm.eventclasses/Network/xPON/Laser_Always_On.json
  collections/fm.eventclasses/Network/xPON/ONU/Activated.json
  collections/fm.eventclasses/Network/xPON/ONU/Discovered.json
  collections/fm.eventclasses/Network/xPON/ONU/Offline.json
  collections/fm.eventclasses/Network/xPON/ONU/Power_Failed.json
Owners: none

Migrate Reference filed to PlainReferenceField.
  bi/models/diagnostichistory.py
  core/etl/models/sensor.py
  inv/models/capsitem.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  wf/models/workflow.py
Owners: @dv, @aversant

Fix flake.
  wf/models/workflow.py
Owners: @dv, @aversant

Remove unused imports.
  inv/models/sensor.py
Owners: @dv, @aversant

Migrate Reference filed to PlainReferenceField.
  bi/models/diagnostichistory.py
  core/etl/models/sensor.py
  inv/models/capsitem.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  wf/models/workflow.py
Owners: @dv, @aversant

Merge branch 'patch-avs-replace-preference-field' into 'master'
  bi/models/diagnostichistory.py
  core/etl/models/sensor.py
  inv/models/capsitem.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  wf/models/workflow.py
Owners: @dv, @aversant

Fix calculate ServiceInstance objects.
  core/etl/loader/service.py
  core/etl/models/service.py
  inv/models/networksegment.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

release-25.1:Backport!9782
  bi/models/diagnostichistory.py
  core/etl/models/sensor.py
  inv/models/capsitem.py
  inv/models/sensor.py
  main/models/label.py
  main/models/remotesystem.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
  wf/models/workflow.py
Owners: @dv, @aversant

Fix flake.
  core/etl/loader/service.py
Owners: @dv, @aversant

Fix flake.
  core/etl/models/service.py
Owners: @dv, @aversant

Fix calculate ServiceInstance objects.
  core/etl/loader/service.py
  core/etl/models/service.py
  inv/models/networksegment.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Merge branch 'fix-calculate-service-summary' into 'master'
  core/etl/loader/service.py
  core/etl/models/service.py
  inv/models/networksegment.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

release-25.1:Backport!9784
  core/etl/loader/service.py
  core/etl/models/service.py
  inv/models/networksegment.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Speedup ServiceSummary build object summary.
  sa/models/serviceinstance.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

Remove pipeline.
  sa/models/servicesummary.py
Owners: @dv, @aversant

Speedup ServiceSummary build object summary.
  sa/models/serviceinstance.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

Merge branch 'patch-avs-speedup-service-summary-object' into 'master'
  sa/models/serviceinstance.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

release-25.1:Backport!9786
  sa/models/serviceinstance.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

Add exposed_sa Label setting.
  inv/models/cpe.py
  inv/models/sensor.py
  main/models/label.py
  pm/models/agent.py
  sa/models/managedobject.py
  sa/models/service.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix exposed condition.
  main/models/label.py
  sa/models/service.py
  services/web/apps/main/label/views.py
  ui/web/main/label/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  sa/models/service.py
Owners: @dv, @aversant

Add exposed_sa Label setting.
  inv/models/cpe.py
  inv/models/sensor.py
  main/models/label.py
  pm/models/agent.py
  sa/models/managedobject.py
  sa/models/service.py
  services/web/apps/main/label/views.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Owners: @dv, @aversant, @d.zakharov

Add exposed_sa Label setting.
  inv/models/cpe.py
  inv/models/sensor.py
  main/models/label.py
  pm/models/agent.py
  sa/models/managedobject.py
  sa/models/service.py
  services/web/apps/main/label/views.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Owners: @dv, @aversant, @d.zakharov

#2663 Add ServiceStatus API to NBI.
  docs/nbi-api-reference/SUMMARY.md
  docs/nbi-api-reference/servicestatus.md
  services/nbi/paths/servicestatus.py
Owners: @dv, @EKbfh, @aversant

Merge branch 'noc-2663' into 'master'
  docs/nbi-api-reference/SUMMARY.md
  docs/nbi-api-reference/servicestatus.md
  services/nbi/paths/servicestatus.py
Owners: @dv, @EKbfh, @aversant

release-25.1:Backport!9788
  inv/models/cpe.py
  inv/models/sensor.py
  main/models/label.py
  pm/models/agent.py
  sa/models/managedobject.py
  sa/models/service.py
  services/web/apps/main/label/views.py
  ui/web/main/label/Application.js
  ui/web/main/label/Model.js
Owners: @dv, @aversant, @d.zakharov

Add PULL Sensor Value from RemoteSystem.
  core/etl/models/sensor.py
  core/models/sensorprotos.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  services/scheduler/jobs/remote_system.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix set_value on sensor.
  inv/models/sensor.py
Owners: @dv, @aversant

Fix typo on Service.get_exposed_labels_for_object method.
  sa/models/managedobject.py
Owners: @dv, @aversant

release-25.1:Backport!9081
  docs/nbi-api-reference/SUMMARY.md
  docs/nbi-api-reference/servicestatus.md
  services/nbi/paths/servicestatus.py
Owners: @dv, @EKbfh, @aversant

Fix comma.
  ui/web/inv/sensorprofile/Application.js
Owners: @d.zakharov, @dv
