Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Fix typo.
  services/metrics/service.py
Owners: @dv, @aversant

Remove unused imports.
  services/metrics/service.py
Owners: @dv, @aversant

Remove unused imports.
  core/cdag/node/probe.py
  services/escalator/service.py
Owners: @dv, @aversant

Revert changes.
  services/escalator/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-processed-sensor-units' into 'master'
  core/cdag/node/probe.py
  inv/models/sensor.py
  sa/profiles/Generic/get_metrics.py
  services/metrics/models/card.py
  services/metrics/service.py
  services/metricscollector/service.py
Owners: @dv, @aversant, @dmitryluhtionov

Change apply cfg metrics rules.
  pm/models/metricaction.py
  pm/models/metricrule.py
  services/datastream/models/cfgmetricrules.py
  services/datastream/streams/cfgmetricrules.py
Owners: @dv, @aversant

Add TTL to request metrics state.
  config.py
  services/metrics/changelog.py
Owners: @dv, @aversant, @EKbfh

Fix update_rules on metrics service.
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Add extract target id on get_key.
  services/metrics/service.py
Owners: @dv, @aversant

Remove call get_target.
  services/metrics/service.py
Owners: @dv, @aversant

Remove unused imports.
  pm/models/metricrule.py
  services/datastream/streams/cfgmetricrules.py
  services/metrics/service.py
Owners: @dv, @aversant

Merge branch 'patch-avs-metrics-rule-models-validate' into 'master'
  pm/models/metricaction.py
  pm/models/metricrule.py
  services/datastream/models/cfgmetricrules.py
  services/datastream/streams/cfgmetricrules.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix apply probe config.
  services/metrics/service.py
Owners: @dv, @aversant

Fix processed Measurement Units on sensor in MetricsService.
  inv/models/sensor.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix typo.
  services/metrics/service.py
Owners: @dv, @aversant

Merge branch 'fix-processed-sensor-mu' into 'master'
  inv/models/sensor.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Use target card without metrics card.
  core/cdag/node/metrics.py
  core/cdag/node/probe.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix merged.
  services/metrics/models/card.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix processed metrics on key.
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix typed.
  services/metrics/service.py
Owners: @dv, @aversant

Fix processed cards.
  services/metrics/models/card.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix processed sensor.
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix typo.
  services/metrics/service.py
Owners: @dv, @aversant

Move refresh metric rules to card.
  core/cdag/factory/config.py
  pm/models/metrictype.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix applied alarm rule.
  core/cdag/factory/config.py
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/node/threshold.py
  pm/models/metricrule.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/service.py
Owners: @dv, @aversant

Low logging.
  core/cdag/node/threshold.py
Owners: @dv, @aversant

Fix flake.
  core/cdag/factory/config.py
  pm/models/metrictype.py
Owners: @dv, @aversant

Fix order.
  services/metrics/models/card.py
Owners: @dv, @aversant

Remove unused imports.
  core/cdag/factory/config.py
  services/metrics/models/rule.py
Owners: @dv, @aversant

Merge branch 'patch-avs-refactor-processed-metric-rule' into 'master'
  core/cdag/factory/config.py
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/node/threshold.py
  pm/models/metricrule.py
  pm/models/metrictype.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix for closed
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/system_roles/clickhouse/tasks/os/Astra Linux_1/main.yml
  ansible/system_roles/kafka/defaults/main.yml
  ansible/system_roles/mongod/tasks/os/Astra Linux_1/main.yml
  ansible/system_roles/nginx/tasks/os/Astra Linux_1/main.yml
  ansible/system_roles/postgres/tasks/os/Astra Linux_1/install.yml
  ansible/vars/Astra Linux_1.yml
Owners: @EKbfh

Save Status Affected Factors to Service Instance.
  bi/models/serviceoutages.py
  core/models/servicestatus.py
  sa/models/service.py
Owners: @dv, @aversant

Remove Service item from tt types.
  core/tt/types.py
Owners: @dv, @aversant

Add dispose request to `/noc alarm`.
  commands/alarm.py
Owners: @dv, @aversant

Fix use system python
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Owners: @EKbfh

Add check allowed_escalation to Escalation job.
  core/etl/bi/extractor/alarms.py
  core/models/escalationpolicy.py
  core/tt/base.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/escalationprofile.py
Owners: @dv, @aversant

Add get_alarm_reference to Service.
  sa/models/service.py
Owners: @dv, @aversant

Fix processed context to AlarmAction.
  fm/models/alarmjob.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Fix typo.
  core/tt/base.py
  core/tt/types.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Remove unused imports.
  fm/models/alarmjob.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
