Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Merge branch 'fix-avs-clickhouse-default-float' into 'master'
  config.py
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!9569
  bi/models/purgatorium.py
  core/clickhouse/model.py
Owners: @dv, @aversant

release-25.1:Backport!9570
  config.py
Owners: @dv, @aversant, @EKbfh

Add resourcegroup to Managed Object Profile UI match.
  ui/web/sa/managedobjectprofile/Application.js
Owners: @d.zakharov, @dv

Merge branch 'noc-supp-fix-card-cards' into 'master'
  services/card/cards/service.py
Owners: @dv, @aversant

Fix field selection in ModelApplication to reference formPanel
  ui/web/core/ModelApplication.js
Owners: @d.zakharov, @dv

Use bitnamilegacy for testing kafka
  .docker/docker-compose.yml
Owners: @dv, @EKbfh

Merge branch 'noc-use-bitnamilegacy' into 'master'
  .docker/docker-compose.yml
Owners: @dv, @EKbfh

Merge branch 'noc-use-bitnamilegacy' into 'master'
  .docker/docker-compose.yml
Owners: @dv, @EKbfh

config: mongo.authentication_source config parameter
  config.py
  core/mongo/connection.py
  docs/config-reference/mongo.md
Owners: @dv, @aversant, @EKbfh

#2662 Disable replace Address and Prefix when changed on discovery.
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Owners: @dv, @aversant, @d.zakharov

numpy 2.3.2, networkx 3.5
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

FIX 'Invalid IPv4 prefix' in sa/profiles/Qtech/QSW2800/confdb/normalizer.py on Discovery
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-mongo-auth-source' into 'master'
  config.py
  core/mongo/connection.py
  docs/config-reference/mongo.md
Owners: @dv, @aversant, @EKbfh

Python 3.13 support
  .gitlab-ci.yml
  Dockerfile
Owners: @dv, @EKbfh

noc-supp-fix-card-ToDoContainer
  services/card/templates/service.html.j2
Owners: @dv, @aversant

Merge branch 'noc-2662' into 'master'
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Owners: @dv, @aversant, @d.zakharov

Fix bug for caps default values
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Fix bug for caps default values in managedobjectcapsds
  core/datasources/managedobjectcapsds.py
Owners: @dv, @aversant

release-25.1:Backport!9568
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Owners: @dv, @aversant, @d.zakharov

Fix bug for caps default values
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Merge branch 'fix-rm-managedobjectds-default-caps' into 'master'
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

release-25.1:Backport!9576
  ui/web/core/ModelApplication.js
Owners: @d.zakharov, @dv

Merge branch 'noc-fix-qtech2800-normalizer' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Add inv/Object_Serial report
  collections/main.reports/Object_Serial.json
  core/datasources/objectserialds.py
Owners: @dv, @aversant

Add source getting data from sa_managedobjectattribute
  collections/main.reports/Object_Serial.json
  core/datasources/objectserialds.py
Owners: @dv, @aversant

Move functional to managedobjectds datasource
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
  core/datasources/objectserialds.py
Owners: @dv, @aversant

Unite serials from different sources into one column
  collections/main.reports/Object_Serial.json
Owners: none

Improve mo_ids creation
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Drop getting serialnumber from sa_managedobjectattribute
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Update localization
  collections/main.reports/Object_Serial.json
Owners: none

Pydantic 2.11.9
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!9574
  core/datasources/managedobjectcapsds.py
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Cleanup
  collections/main.reports/Object_Serial.json
Owners: none

Add cfmetric datastream Model.
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/datastream/streams/cfgmetrics.py
Owners: @dv, @aversant

Fix UI.
  ui/web/pm/metrictype/Application.js
  ui/web/pm/metrictype/Model.js
Owners: @d.zakharov, @dv

Fix formatting.
  pm/models/metrictype.py
Owners: @dv, @aversant

Fix 2.
  pm/models/metrictype.py
Owners: @dv, @aversant

Add inv/Object_Serial report
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Merge branch 'report-engine-object-serial' into 'master'
  collections/main.reports/Object_Serial.json
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
