Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Fix self.object.state_changed
  services/card/cards/service.py
Owners: @dv, @aversant

IPython 9.5.0
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

ruff: Enable PLR1714
  core/clickhouse/fields.py
  core/config/proto/consul.py
  core/datastream/client.py
  core/diagnostic/hub.py
  core/diagnostic/types.py
  core/etl/extractor/vcenter.py
  core/fm/enum.py
  core/inv/path.py
  core/profile/diagnostic.py
  core/service/middleware/logging.py
  core/snmp/get.py
  core/snmp/set.py
  fm/models/activealarm.py
  fm/models/dispositionrule.py
  fm/models/escalationprofile.py
  fm/models/eventclassificationrule.py
  inv/migrations/0033_objectmodel_protocols_structure.py
  inv/models/link.py
  inv/models/object.py
  inv/models/objectmodel.py
  sa/models/managedobject.py
  sa/profiles/DLink/DGS3100/get_dom_status.py
  sa/profiles/DLink/DGS3100/get_interfaces.py
  sa/profiles/DLink/DxS/get_interfaces.py
  sa/profiles/Eltex/DSLAM/get_interface_status_ex.py
  sa/profiles/Eltex/MES/get_dom_status.py
  sa/profiles/HP/1910/get_dom_status.py
  sa/profiles/Hikvision/DSKV8/get_config.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/MikroTik/RouterOS/get_inventory.py
  sa/profiles/Qtech/QSW/get_switchport.py
  sa/profiles/Supertel/K2X/get_dom_status.py
  sa/profiles/Zyxel/MSAN/profile.py
  services/bi/paths/bi.py
  services/classifier/rule.py
  services/classifier/service.py
  services/correlator/actionlog.py
  services/web/apps/inv/inv/plugins/channel.py
  tests/test_quantile.py
Owners: @dv, @aversant, @EKbfh, @dmitryluhtionov

fix
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Format
  services/correlator/actionlog.py
Owners: @dv, @aversant

ruff: Enable PLR1714
  core/clickhouse/fields.py
  core/config/proto/consul.py
  core/datastream/client.py
  core/diagnostic/hub.py
  core/diagnostic/types.py
  core/etl/extractor/vcenter.py
  core/fm/enum.py
  core/inv/path.py
  core/profile/diagnostic.py
  core/service/middleware/logging.py
  core/snmp/get.py
  core/snmp/set.py
  fm/models/activealarm.py
  fm/models/dispositionrule.py
  fm/models/escalationprofile.py
  fm/models/eventclassificationrule.py
  inv/migrations/0033_objectmodel_protocols_structure.py
  inv/models/link.py
  inv/models/object.py
  inv/models/objectmodel.py
  pyproject.toml
  sa/models/managedobject.py
  sa/profiles/DLink/DGS3100/get_dom_status.py
  sa/profiles/DLink/DGS3100/get_interfaces.py
  sa/profiles/DLink/DxS/get_interfaces.py
  sa/profiles/Eltex/DSLAM/get_interface_status_ex.py
  sa/profiles/Eltex/MES/get_dom_status.py
  sa/profiles/HP/1910/get_dom_status.py
  sa/profiles/Hikvision/DSKV8/get_config.py
  sa/profiles/IRE-Polus/Horizon/get_inventory.py
  sa/profiles/MikroTik/RouterOS/get_inventory.py
  sa/profiles/Qtech/QSW/get_switchport.py
  sa/profiles/Supertel/K2X/get_dom_status.py
  sa/profiles/Zyxel/MSAN/profile.py
  services/bi/paths/bi.py
  services/classifier/rule.py
  services/classifier/service.py
  services/correlator/actionlog.py
  services/web/apps/inv/inv/plugins/channel.py
  tests/test_quantile.py
Owners: @dv, @aversant, @EKbfh, @dmitryluhtionov

Ruff: Select RET, SIM, PIE, RUF categories
  pyproject.toml
  settings.py
Owners: @dv, @aversant, @EKbfh

fix-qtech2800-normalizer
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

ruff: Enable PLR1730
  commands/script.py
  core/msgstream/liftbridge.py
  core/msgstream/redpanda.py
  core/prefixlist.py
  core/quantile/base.py
  fm/handlers/thresholds/iface.py
  pyproject.toml
  sa/profiles/Zyxel/ZyNOS/ping.py
  services/escalator/escalation.py
  services/escalator/jobs/base.py
  services/web/apps/wf/workflow/views.py
  services/web/base/reportdatasources/base.py
Owners: @dv, @aversant, @EKbfh, @dmitryluhtionov

Add missing newline at end of file
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Service cards fail to open in "Objects → Services → View" due to current_duration being None. Fix services/card/cards/service.py
  services/card/cards/service.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-card-cards' into 'master'
  services/card/cards/service.py
Owners: @dv, @aversant

release-25.1:Backport!9549
  services/card/cards/service.py
Owners: @dv, @aversant

Show virtual interface type on ManagedObject interface form.
  services/web/apps/inv/interface/views.py
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Check TTSystem on MO when force escalation.
  services/escalator/escalation.py
Owners: @dv, @aversant

Add portmapper_name setting to RemoteSystem.
  main/models/remotesystem.py
  services/discovery/jobs/box/nri_portmap.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix
  core/ioloop/snmp.py
  core/script/snmp/base.py
  core/service/rpc.py
  main/models/customfield.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
  sa/profiles/MikroTik/SwOS/get_version.py
  services/chwriter/service.py
  services/classifier/actionset.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'patch-avs-remote-system-mapper-name' into 'master'
  main/models/remotesystem.py
  services/discovery/jobs/box/nri_portmap.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Set default param to report UI.
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

Add connect for VMWare connection processed.
  core/etl/extractor/vcenter.py
  sa/profiles/VMWare/connection.py
  sa/profiles/VMWare/vHost/get_capabilities.py
  sa/profiles/VMWare/vHost/get_interfaces.py
  sa/profiles/VMWare/vHost/get_lldp_neighbors.py
  sa/profiles/VMWare/vim.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove print.
  core/etl/extractor/vcenter.py
  sa/profiles/VMWare/vHost/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove comment.
  sa/profiles/VMWare/connection.py
Owners: @dv, @aversant, @dmitryluhtionov

Add VM Capabilities.
  collections/inv.capabilities/Controller/GlobalId.json
  collections/inv.capabilities/VM/DNS_Servers.json
  collections/inv.capabilities/VM/Gateway.json
  collections/inv.capabilities/VM/Tools_Status.json
  collections/inv.capabilities/VM/vCPU.json
  collections/inv.capabilities/VM/vHDD.json
  collections/inv.capabilities/VM/vRAM.json
Owners: none

Merge branch 'patch-avs-show-virtual-on-mo-interfaces' into 'master'
  services/web/apps/inv/interface/views.py
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Add Asset IP Addresses caps.
  collections/inv.capabilities/Asset/IP_Addresses.json
  collections/inv.capabilities/VMWare/VM/GlobalId.json
Owners: none

Add connect for VMWare connection processed.
  collections/inv.capabilities/Asset/IP_Addresses.json
  collections/inv.capabilities/Controller/GlobalId.json
  collections/inv.capabilities/VM/DNS_Servers.json
  collections/inv.capabilities/VM/Gateway.json
  collections/inv.capabilities/VM/Tools_Status.json
  collections/inv.capabilities/VM/vCPU.json
  collections/inv.capabilities/VM/vHDD.json
  collections/inv.capabilities/VM/vRAM.json
  collections/inv.capabilities/VMWare/VM/GlobalId.json
  core/etl/extractor/vcenter.py
  sa/profiles/VMWare/connection.py
  sa/profiles/VMWare/vHost/get_capabilities.py
  sa/profiles/VMWare/vHost/get_lldp_neighbors.py
  sa/profiles/VMWare/vim.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!9559
  services/web/apps/inv/interface/views.py
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

release-25.1:Backport!9557
  main/models/remotesystem.py
  services/discovery/jobs/box/nri_portmap.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Disable replace Address and Prefix when changed on discovery.
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/prefix.py
Owners: @dv, @aversant

Merge branch 'pathc-avs-vcenter-extractor' into 'master'
  collections/inv.capabilities/Asset/IP_Addresses.json
  collections/inv.capabilities/Controller/GlobalId.json
  collections/inv.capabilities/VM/DNS_Servers.json
  collections/inv.capabilities/VM/Gateway.json
  collections/inv.capabilities/VM/Tools_Status.json
  collections/inv.capabilities/VM/vCPU.json
  collections/inv.capabilities/VM/vHDD.json
  collections/inv.capabilities/VM/vRAM.json
  collections/inv.capabilities/VMWare/VM/GlobalId.json
  core/etl/extractor/vcenter.py
  sa/profiles/VMWare/connection.py
  sa/profiles/VMWare/vHost/get_capabilities.py
  sa/profiles/VMWare/vHost/get_lldp_neighbors.py
  sa/profiles/VMWare/vim.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'patch-avs-report-default-options' into 'master'
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

release-25.1:Backport!9565
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

release-25.1:Backport!9558
  collections/inv.capabilities/Asset/IP_Addresses.json
  collections/inv.capabilities/Controller/GlobalId.json
  collections/inv.capabilities/VM/DNS_Servers.json
  collections/inv.capabilities/VM/Gateway.json
  collections/inv.capabilities/VM/Tools_Status.json
  collections/inv.capabilities/VM/vCPU.json
  collections/inv.capabilities/VM/vHDD.json
  collections/inv.capabilities/VM/vRAM.json
  collections/inv.capabilities/VMWare/VM/GlobalId.json
  core/etl/extractor/vcenter.py
  sa/profiles/VMWare/connection.py
  sa/profiles/VMWare/vHost/get_capabilities.py
  sa/profiles/VMWare/vHost/get_lldp_neighbors.py
  sa/profiles/VMWare/vim.py
Owners: @dv, @aversant, @dmitryluhtionov

Improve AddressPanel UI.
  ui/web/ip/ipam/model/Address.js
  ui/web/ip/ipam/view/forms/prefix/AddressPanel.js
Owners: @d.zakharov, @dv

Fix remote_system column on Purgatorium table.
  bi/models/purgatorium.py
  core/clickhouse/model.py
Owners: @dv, @aversant

Fix typo.
  bi/models/purgatorium.py
  core/clickhouse/model.py
Owners: @dv, @aversant

Fix typo.
  core/clickhouse/model.py
Owners: @dv, @aversant

Fix default_Float32 and default_Float64 value on clickhouse config.
  config.py
Owners: @dv, @aversant, @EKbfh

Fix remote_system column on Purgatorium table.
  bi/models/purgatorium.py
  core/clickhouse/model.py
Owners: @dv, @aversant

Merge branch 'fix-avs-purgatorium-column-type' into 'master'
  bi/models/purgatorium.py
  core/clickhouse/model.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
