Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Fix calculate service affected dependencies factors.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  sa/models/service.py
  services/correlator/alarmjob.py
  services/web/apps/sa/service/views.py
Owners: @dv, @aversant

Fix flake.
  fm/models/alarmwatch.py
Owners: @dv, @aversant

Merge branch 'patch-avs-translate-alarm-changes-to-escalation' into 'master'
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/web/apps/sa/service/views.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-card-loader' into 'master'
  main/models/remotesystem.py
  services/card/cards/base.py
Owners: @dv, @aversant

Add exposed capabilities mechanism to Service.
  sa/models/capsprofile.py
  sa/models/serviceprofile.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Remove update from ServiceSummary.
  sa/models/servicesummary.py
Owners: @dv, @aversant

Fix typo.
  core/caps/decorator.py
  sa/models/capsprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
Owners: @dv, @aversant

Merge branch 'patch-avs-expose-service-labels' into 'master'
  core/caps/decorator.py
  sa/models/capsprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  sa/models/servicesummary.py
  services/discovery/jobs/box/nri_service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix apply mappings when create ManagedObject from Discovered object.
  core/purgatorium.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Fix flake.
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'fix-avs-update-mappings-when-discovered-object-create' into 'master'
  core/purgatorium.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Add C3Solution.PDU profile.
  collections/inv.vendors/C3SOLUTION.json
  collections/sa.profiles/C3Solution/PDU.json
  sa/profiles/C3Solution/PDU/__init__.py
  sa/profiles/C3Solution/PDU/get_interfaces.py
  sa/profiles/C3Solution/PDU/get_inventory.py
  sa/profiles/C3Solution/PDU/get_version.py
  sa/profiles/C3Solution/PDU/profile.py
  sa/profiles/C3Solution/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix profile check rules Vertiv.
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
Owners: none

Add docs and Profile Check Rule.
  collections/sa.profilecheckrules/C3Solution/sysObjectID.json
  docs/profiles-reference/C3Solution/PDU.md
  docs/profiles-reference/C3Solution/SUMMARY.md
  docs/profiles-reference/C3Solution/index.md
Owners: @dv, @EKbfh, @aversant

Fix index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
Owners: @dv, @EKbfh, @aversant

Remove unused imports.
  sa/profiles/APC/AOS/get_interfaces.py
  sa/profiles/APC/AOS/profile.py
  sa/profiles/C3Solution/PDU/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'patch-avs-add-c3-solution' into 'master'
  collections/inv.vendors/C3SOLUTION.json
  collections/sa.profilecheckrules/C3Solution/sysObjectID.json
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
  collections/sa.profiles/C3Solution/PDU.json
  docs/profiles-reference/C3Solution/PDU.md
  docs/profiles-reference/C3Solution/SUMMARY.md
  docs/profiles-reference/C3Solution/index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
  sa/profiles/C3Solution/PDU/__init__.py
  sa/profiles/C3Solution/PDU/get_interfaces.py
  sa/profiles/C3Solution/PDU/get_inventory.py
  sa/profiles/C3Solution/PDU/get_version.py
  sa/profiles/C3Solution/PDU/profile.py
  sa/profiles/C3Solution/__init__.py
Owners: @dv, @EKbfh, @aversant, @dmitryluhtionov

Settings for translate sensors metrics to MX.
  inv/models/sensor.py
  inv/models/sensorprofile.py
  services/datastream/models/cfgmetricstarget.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Add component param to metrics node.
  core/cdag/node/metrics.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix metrics node.
  core/cdag/node/metrics.py
Owners: @dv, @aversant

Fix flake.
  inv/models/sensorprofile.py
Owners: @dv, @aversant

Remove unused imports.
  inv/models/sensorprofile.py
Owners: @dv, @aversant

Fix tests.
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
Owners: @dv

Merge branch 'noc-supp-fix-audittrail' into 'master'
  services/web/apps/main/audittrail/views.py
Owners: @dv, @aversant

Merge branch 'patch-avs-sensor-metrics-to-mx' into 'master'
  core/cdag/node/metrics.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  services/datastream/models/cfgmetricstarget.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix processed sensor asset without Object instance.
  core/cdag/node/metrics.py
  core/etl/loader/base.py
  core/etl/loader/sensor.py
  core/etl/remotemappings.py
  inv/models/sensor.py
  services/discovery/jobs/box/asset.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Remove unused imports.
  inv/models/sensor.py
  services/discovery/jobs/box/asset.py
Owners: @dv, @aversant

Fix typo.
  services/discovery/jobs/box/asset.py
Owners: @dv, @aversant

Add required_reference settings for processed alarm service component on Rule.
  sa/models/service.py
  sa/models/serviceprofile.py
  services/classifier/sourcelookup.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  sa/models/service.py
  sa/models/serviceprofile.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-processed-service-component-on-alarm' into 'master'
  sa/models/service.py
  sa/models/serviceprofile.py
  services/classifier/sourcelookup.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix processed Notification Message for Forwaded to webhook.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/runner/actions/base.py
  main/models/notificationgroup.py
Owners: @dv, @aversant

Remove unused imports.
  core/router/base.py
Owners: @dv, @aversant

Merge branch 'fix-avs-notification-forward' into 'master'
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/runner/actions/base.py
  main/models/notificationgroup.py
Owners: @dv, @aversant

Fix processed item changed to Alarm Job.
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/escalationprofile.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Disable MAC for postgres in Astra
  ansible/system_roles/postgres/tasks/os/Astra Linux_1/main.yml
Owners: @EKbfh

Fix flake.
  sa/models/service.py
  sa/models/serviceprofile.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  fm/models/escalationprofile.py
Owners: @dv, @aversant

Merge branch 'fix-avs-escalation-items-changed' into 'master'
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/escalationprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix error when chagned mongoengine DictField.
  core/change/decorator.py
  core/model/decorator.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
