Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Fix remove capabilities on caps discovery.
  core/caps/decorator.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

Fix save Diagnostic checks result to object.
  core/diagnostic/hub.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Fix tests.
  core/caps/decorator.py
  core/diagnostic/types.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

Fix tests.
  core/caps/decorator.py
  services/discovery/jobs/base.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

Fix remove capabilities on caps discovery.
  core/caps/decorator.py
  core/diagnostic/types.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

Merge branch 'fix-avs-save-diagnostics-checks-result' into 'master'
  core/diagnostic/hub.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Merge branch 'fix-avs-delete-discover-caps' into 'master'
  core/caps/decorator.py
  core/diagnostic/types.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

release-25.1:Backport!9856
  core/diagnostic/hub.py
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Fix DiscoveredObject calculate preferred on origin detect.
  sa/models/discoveredobject.py
Owners: @dv, @aversant

release-25.1:Backport!9855
  core/caps/decorator.py
  core/diagnostic/types.py
  services/discovery/jobs/base.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/bgppeer.py
  services/discovery/jobs/box/cpe.py
  services/discovery/jobs/box/interface.py
  services/discovery/jobs/box/sla.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

Merge branch 'fix-avs-calculate-discovered-object-preferred' into 'master'
  sa/models/discoveredobject.py
Owners: @dv, @aversant

release-25.1:Backport!9859
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Update file index.md
  docs/backup-noc-howto/index.md
Owners: @dv, @EKbfh, @aversant

Fix list view for backup-noc-howto docs
  docs/backup-noc-howto/index.md
Owners: @dv, @EKbfh, @aversant

Add Asset Refs for ManagedObject bind.
  core/models/serviceinstanceconfig.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Fix send nodata on metricscollector.
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
Owners: @dv, @aversant

Add/fix DLink.DxS event messages (#124)
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/CPU/Safeguard_Engine_enters_EXHAUSTED_mode_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/CPU/Safeguard_Engine_enters_NORMAL_mode_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Config/Config_Changed_1_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/IMPB/Unauthenticated_IP-MAC_2_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/Root_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Security/Authentication/Login_1_SYSLOG_.json
Owners: none

Add DLink.DxS OAM event messages (#122)
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/PSU/Power_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/OAM/Client_Recieved_Remote_Failure_SYSLOG.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/OAM/Monitoring_Error_SYSLOG.json
  collections/fm.eventclassificationrules/DLink/DxS/Unknown/Ignore_Encountered_OAM_Event_SYSLOG_.json
Owners: none

Add some event/alarm classess (#125)
  collections/fm.alarmclasses/Network/DHCP/DHCP_Flood.json
  collections/fm.alarmclasses/Network/IP/ARP_Flood.json
  collections/fm.alarmclasses/Network/IP/ICMP_Flood.json
  collections/fm.dispositionrules/Network/DHCP/DHCP_Flood/DHCP/DHCP_Flood_dispose_.json
  collections/fm.dispositionrules/Network/IP/ARP_Flood/IP/ARP_Flood_dispose_.json
  collections/fm.dispositionrules/Network/IP/ICMP_Flood/IP/ICMP_Flood_dispose_.json
  collections/fm.eventclasses/Network/DHCP/DHCP_Flood.json
  collections/fm.eventclasses/Network/DHCP/DHCP_Flood_Cleared.json
  collections/fm.eventclasses/Network/IP/ARP_Flood.json
  collections/fm.eventclasses/Network/IP/ARP_Flood_Cleared.json
  collections/fm.eventclasses/Network/IP/ICMP_Flood.json
Owners: none

Fix typo.
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Add Asset Refs for ManagedObject bind.
  core/models/serviceinstanceconfig.py
  sa/models/managedobjectprofile.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-asset-refs-service-find-device' into 'master'
  core/models/serviceinstanceconfig.py
  sa/models/managedobjectprofile.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Merge branch 'fix-rm-notificationgroup-timepattern' into 'master'
  services/web/apps/main/notificationgroup/views.py
Owners: @dv, @aversant

release-25.1:Backport!9862
  core/models/serviceinstanceconfig.py
  sa/models/managedobjectprofile.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

release-25.1:Backport!9825
  services/web/apps/main/notificationgroup/views.py
Owners: @dv, @aversant

Fix processed sensors.
  core/mx.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Add remote_system to send_message.
  services/metricscollector/service.py
Owners: @dv, @aversant

Add NRI Sensor map to nri_port discovery.
  core/etl/loader/sensor.py
  services/discovery/jobs/box/nri_portmap.py
Owners: @dv, @aversant

Remove unused imports.
  services/metricscollector/paths/zabbix.py
Owners: @dv, @aversant

Fix send nodata on metricscollector.
  core/mx.py
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Merge branch 'patch-avs-metricscollecot-nodata' into 'master'
  core/mx.py
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Remove unused imports.
  core/etl/loader/sensor.py
Owners: @dv, @aversant

release-25.1:Backport!9865
  core/mx.py
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Add NRI Sensor map to nri_port discovery.
  core/etl/loader/sensor.py
  services/discovery/jobs/box/nri_portmap.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-sensor-map-to-portmap-discovery' into 'master'
  core/etl/loader/sensor.py
  services/discovery/jobs/box/nri_portmap.py
Owners: @dv, @aversant

Fix errors induced by GetCssClass implementation (#130)
  services/web/apps/fm/alarm/views.py
  services/web/base/extdocapplication.py
Owners: @dv, @aversant

Edit bump pydantic to 2.11.10
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Pydantic 2.11.9
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Threshold node, use slotified state (#132)
  core/cdag/node/threshold.py
Owners: @dv, @aversant

release-25.1:Backport!9866
  core/etl/loader/sensor.py
  services/discovery/jobs/box/nri_portmap.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
