Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Fix classifier ruleset typo error.
  services/classifier/ruleset.py
Owners: @dv, @aversant

Fix on_delete_check.
  pm/models/metrictype.py
Owners: @dv, @aversant

Fix flake.
  services/classifier/ruleset.py
Owners: @dv, @aversant

Fix typo.
  pm/models/metrictype.py
Owners: @dv, @aversant

Add PULL Sensor Value from RemoteSystem.
  core/etl/models/sensor.py
  core/models/sensorprotos.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/metrictype.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Add PULL Sensor Value from RemoteSystem.
  core/etl/models/sensor.py
  core/models/sensorprotos.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/metrictype.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9791
  core/etl/models/sensor.py
  core/models/sensorprotos.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/metrictype.py
  sa/models/managedobject.py
  services/scheduler/jobs/remote_system.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix classifier ruleset typo error.
  services/classifier/ruleset.py
Owners: @dv, @aversant

Merge branch 'fix-avs-ruleset-type-error' into 'master'
  services/classifier/ruleset.py
Owners: @dv, @aversant

release-25.1:Backport!9792
  services/classifier/ruleset.py
Owners: @dv, @aversant

Fix extract metric from RemoteSystem.
  core/etl/extractor/zabbix.py
  core/etl/remotesystem/base.py
  services/scheduler/jobs/remote_system.py
Owners: @dv, @aversant

Speedup Service -> Interface map query.
  inv/models/interface.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Add Hostname ValueType.
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

Remove unused imports.
  inv/models/interface.py
Owners: @dv, @aversant

Merge branch 'fix-avs-remote-system-metric-extractor' into 'master'
  core/etl/extractor/zabbix.py
  core/etl/remotesystem/base.py
  services/scheduler/jobs/remote_system.py
Owners: @dv, @aversant

release-25.1:Backport!9795
  core/etl/extractor/zabbix.py
  core/etl/remotesystem/base.py
  services/scheduler/jobs/remote_system.py
Owners: @dv, @aversant

Speedup Service -> Interface map query.
  inv/models/interface.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Fix check.
  core/models/valuetype.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'patch-avs-optimize-getting-interface-services' into 'master'
  inv/models/interface.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Add Hostname ValueType.
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-hostname-value-type' into 'master'
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9796
  inv/models/interface.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

release-25.1:Backport!9798
  core/models/valuetype.py
  inv/models/capability.py
  sa/models/discoveredobject.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

ui fm.alarm Fix text on filter Wait TT
  ui/web/fm/alarm/view/grids/Sidebar.js
Owners: @d.zakharov, @dv

Add maxmetricsds datasource
  core/datasources/maxmetricsds.py
Owners: @dv, @aversant

Cleanup
  core/datasources/maxmetricsds.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-qtech2800-normalizer' into 'master'
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix classifier error output (#114)
  services/classifier/ruleset.py
Owners: @dv, @aversant

Add Load_Metrics_max report config
  collections/main.reports/Load_Metrics_max.json
Owners: none

Add service dependencies settings.
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
  services/datastream/models/service.py
  services/datastream/streams/service.py
  services/web/apps/sa/service/views.py
  ui/web/sa/service/Application.js
  ui/web/sa/service/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix on_delete check.
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  sa/models/service.py
Owners: @dv, @aversant

Add reuse_snmpv3_engine_id options for refresh Engine ID.
  core/script/base.py
  core/script/snmp/base.py
  sa/profiles/Generic/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

Add description localization
  collections/main.reports/Load_Metrics_max.json
Owners: none

ui fm.alarm fix text on filter Wait TT
  ui/web/fm/alarm/view/grids/Sidebar.js
Owners: @d.zakharov, @dv

Merge branch 'fix-avs-refrens-snmpv3-caps' into 'master'
  core/script/base.py
  core/script/snmp/base.py
  sa/profiles/Generic/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!9756
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!9801
  ui/web/fm/alarm/view/grids/Sidebar.js
Owners: @d.zakharov, @dv

Fix capability decorator on_save check.
  core/caps/decorator.py
  sla/models/slaprofile.py
Owners: @dv, @aversant

Fix flake.
  inv/models/resourcegroup.py
  sa/models/service.py
  services/datastream/streams/service.py
  services/web/apps/sa/service/views.py
Owners: @dv, @aversant

release-25.1:Backport!9804
  core/script/base.py
  core/script/snmp/base.py
  sa/profiles/Generic/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov
