Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

release-25.1:Backport!9638
  core/etl/extractor/netbox.py
  core/etl/extractor/vcenter.py
Owners: @dv, @aversant

Fix set severity on group alarm.
  services/correlator/models/ensuregroupreq.py
  services/correlator/service.py
Owners: @dv, @aversant

Merge branch 'noc-fix-kafkasender-compression' into 'master'
  services/kafkasender/service.py
Owners: @dv, @aversant

release-25.1:Backport!9013
  services/kafkasender/service.py
Owners: @dv, @aversant

Fix pm.ddash.graph_interface_load_simple Oper Status and Admin Status
  templates/ddash/graph_interface_load_simple.j2
Owners: @dv, @aversant

Fix set SNMP failed on uptime discovery.
  core/checkers/base.py
  core/checkers/nodata.py
  core/diagnostic/hub.py
  sa/models/objectdiagnosticconfig.py
  services/discovery/jobs/base.py
Owners: @dv, @aversant

Merge branch 'fix-avs-set-uptime-snmp-diag' into 'master'
  core/checkers/base.py
  core/checkers/nodata.py
  core/diagnostic/hub.py
  sa/models/objectdiagnosticconfig.py
  services/discovery/jobs/base.py
Owners: @dv, @aversant

release-25.1:Backport!9619
  core/checkers/base.py
  core/checkers/nodata.py
  core/diagnostic/hub.py
  sa/models/objectdiagnosticconfig.py
  services/discovery/jobs/base.py
Owners: @dv, @aversant

Fix simpletable-formatter for write to CSV-format fields with nested types
  core/reporter/formatter/simpletable.py
  core/reporter/formatter/utils.py
Owners: @dv, @aversant

release-25.1:Backport!9645
  templates/ddash/graph_interface_load_simple.j2
Owners: @dv, @aversant

Add update_checkers_status request to disposition protocol, for update diagnostics.
  services/correlator/models/disposereq.py
  services/correlator/models/updatecheckersreq.py
  services/correlator/service.py
Owners: @dv, @aversant

Fix pendinglinksds
  core/datasources/pendinglinksds.py
Owners: @dv, @aversant

Merge branch 'patch-avs-update-checkers-status-dispose' into 'master'
  services/correlator/models/disposereq.py
  services/correlator/models/updatecheckersreq.py
  services/correlator/service.py
Owners: @dv, @aversant

release-25.1:Backport!9649
  services/correlator/models/disposereq.py
  services/correlator/models/updatecheckersreq.py
  services/correlator/service.py
Owners: @dv, @aversant

#2730 Fix calculate Alarm Severity by policy.
  fm/models/activealarm.py
  services/correlator/service.py
Owners: @dv, @aversant

Merge branch 'noc-2730' into 'master'
  fm/models/activealarm.py
  services/correlator/service.py
Owners: @dv, @aversant

release-25.1:Backport!9652
  fm/models/activealarm.py
  services/correlator/service.py
Owners: @dv, @aversant

Migrate ManagedObject caps source from 'caps' to 'discovery'.
  sa/migrations/0265_migrate_caps_source_to_discovery.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Merge branch 'migrate-caps-source-to-discovery' into 'master'
  sa/migrations/0265_migrate_caps_source_to_discovery.py
  sa/models/managedobject.py
Owners: @dv, @aversant

release-25.1:Backport!9655
  sa/migrations/0265_migrate_caps_source_to_discovery.py
  sa/models/managedobject.py
Owners: @dv, @aversant

#2731 Fix 'Partitions are not assigned' when execute kafka migration.
  core/msgstream/client.py
  core/msgstream/config.py
  core/msgstream/liftbridge.py
  core/msgstream/redpanda.py
Owners: @dv, @aversant

Merge branch 'noc-2731' into 'master'
  core/msgstream/client.py
  core/msgstream/config.py
  core/msgstream/liftbridge.py
  core/msgstream/redpanda.py
Owners: @dv, @aversant

release-25.1:Backport!9654
  core/msgstream/client.py
  core/msgstream/config.py
  core/msgstream/liftbridge.py
  core/msgstream/redpanda.py
Owners: @dv, @aversant

#2728 Add Reaction Rule mechanics.
  core/caps/decorator.py
  core/change/change.py
  core/change/decorator.py
  core/change/model.py
  core/change/policy.py
  core/models/cfgactions.py
  core/wf/decorator.py
  fm/models/alarmclass.py
  inv/models/resourcegroup.py
  main/models/handler.py
  main/models/label.py
  main/models/notificationgroup.py
  main/models/remotesystem.py
  models.py
  sa/models/action.py
  sa/models/managedobject.py
  sa/models/reactionrule.py
  sa/models/service.py
  services/web/apps/sa/reactionrule/__init__.py
  services/web/apps/sa/reactionrule/views.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/LookupField.js
  ui/web/sa/reactionrule/Model.js
  vc/models/vlan.py
Owners: @dv, @aversant, @d.zakharov

Merge branch 'noc-2728' into 'master'
  core/caps/decorator.py
  core/change/change.py
  core/change/decorator.py
  core/change/model.py
  core/change/policy.py
  core/models/cfgactions.py
  core/wf/decorator.py
  fm/models/alarmclass.py
  inv/models/resourcegroup.py
  main/models/handler.py
  main/models/label.py
  main/models/notificationgroup.py
  main/models/remotesystem.py
  models.py
  sa/models/action.py
  sa/models/managedobject.py
  sa/models/reactionrule.py
  sa/models/service.py
  services/web/apps/sa/reactionrule/__init__.py
  services/web/apps/sa/reactionrule/views.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/LookupField.js
  ui/web/sa/reactionrule/Model.js
  vc/models/vlan.py
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9643
  core/caps/decorator.py
  core/change/change.py
  core/change/decorator.py
  core/change/model.py
  core/change/policy.py
  core/models/cfgactions.py
  core/wf/decorator.py
  fm/models/alarmclass.py
  inv/models/resourcegroup.py
  main/models/handler.py
  main/models/label.py
  main/models/notificationgroup.py
  main/models/remotesystem.py
  models.py
  sa/models/action.py
  sa/models/managedobject.py
  sa/models/reactionrule.py
  sa/models/service.py
  services/web/apps/sa/reactionrule/__init__.py
  services/web/apps/sa/reactionrule/views.py
  ui/web/main/handler/Application.js
  ui/web/main/handler/Model.js
  ui/web/sa/reactionrule/Application.js
  ui/web/sa/reactionrule/LookupField.js
  ui/web/sa/reactionrule/Model.js
  vc/models/vlan.py
Owners: @dv, @aversant, @d.zakharov

noc-supp-fix-reportpendinglinks-views.py
  services/web/apps/inv/reportpendinglinks/views.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-reportpendinglinks-views.py' into 'master'
  services/web/apps/inv/reportpendinglinks/views.py
Owners: @dv, @aversant

Merge branch 'fix-rm-pendinglinksds' into 'master'
  core/datasources/pendinglinksds.py
Owners: @dv, @aversant

release-25.1:Backport!9641
  services/web/apps/inv/reportpendinglinks/views.py
Owners: @dv, @aversant

release-25.1:Backport!9650
  core/datasources/pendinglinksds.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-pm-ddash-link' into 'master'
  templates/ddash/graph_interface_load_simple.j2
Owners: @dv, @aversant

release-23.1:Backport!9645
  templates/ddash/graph_interface_load_simple.j2
Owners: @dv, @aversant

Add upload files to HTTP Client.
  core/http/sync_client.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-processed-files-http-client' into 'master'
  core/http/sync_client.py
Owners: @dv, @aversant

release-25.1:Backport!9663
  core/http/sync_client.py
Owners: @dv, @aversant

Migrate TGSender to NOC Http Client.
  config.py
  services/tgsender/service.py
Owners: @dv, @aversant, @EKbfh

Merge branch 'migrate-tgsender-to-noc-http-client' into 'master'
  config.py
  services/tgsender/service.py
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!9664
  config.py
  services/tgsender/service.py
Owners: @dv, @aversant, @EKbfh

Add WebHook support to tgsender service.
  core/mx.py
  services/tgsender/service.py
  ui/web/main/notificationgroup/Application.js
Owners: @dv, @aversant, @d.zakharov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
