Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Add UI options.
  ui/web/sa/objectdiagnosticconfig/Application.js
Owners: @d.zakharov, @dv

Add remote_system to ObjectDiagnostic check config.
  core/checkers/base.py
  core/diagnostic/hub.py
  core/service/nodatachecker.py
  sa/models/managedobject.py
  sa/models/objectdiagnosticconfig.py
  ui/web/sa/objectdiagnosticconfig/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-add-remote-system-to-diagnostic-option' into 'master'
  core/checkers/base.py
  core/diagnostic/hub.py
  core/service/nodatachecker.py
  sa/models/managedobject.py
  sa/models/objectdiagnosticconfig.py
  ui/web/sa/objectdiagnosticconfig/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9843
  core/checkers/base.py
  core/diagnostic/hub.py
  core/service/nodatachecker.py
  sa/models/managedobject.py
  sa/models/objectdiagnosticconfig.py
  ui/web/sa/objectdiagnosticconfig/Application.js
Owners: @dv, @aversant, @d.zakharov

Make query chunked
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

refactor: restructure form layout and add validation for OID input in profile check rule (#121)
  ui/web/sa/profilecheckrule/Application.js
Owners: @d.zakharov, @dv

Fix update watchers.
  core/watchers/decorator.py
  sa/models/managedobject.py
  sa/models/service.py
Owners: @dv, @aversant

Reformat remote_system for postgresql compat.
  core/watchers/decorator.py
  sa/migrations/0267_managedobject_watchers_table.py
  sa/models/managedobject.py
  sa/models/service.py
Owners: @dv, @aversant

Clean API.
  core/watchers/decorator.py
  sa/models/managedobject.py
  sa/models/service.py
  services/web/apps/sa/objectdiagnosticconfig/views.py
Owners: @dv, @aversant

Fix flake.
  maintenance/models/maintenance.py
Owners: @dv, @aversant

Clean whitespace.
  sa/migrations/0267_managedobject_watchers_table.py
Owners: @dv, @aversant

Clean unused imports.
  sa/migrations/0267_managedobject_watchers_table.py
Owners: @dv, @aversant

Add watchers object mechanics.
  core/watchers/__init__.py
  core/watchers/decorator.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/migrations/0267_managedobject_watchers_table.py
  sa/models/managedobject.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/web/apps/sa/objectdiagnosticconfig/views.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-watchers-object-mechanics' into 'master'
  core/watchers/__init__.py
  core/watchers/decorator.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/migrations/0267_managedobject_watchers_table.py
  sa/models/managedobject.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/web/apps/sa/objectdiagnosticconfig/views.py
Owners: @dv, @aversant

release-25.1:Backport!9845
  core/watchers/__init__.py
  core/watchers/decorator.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/migrations/0267_managedobject_watchers_table.py
  sa/models/managedobject.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/web/apps/sa/objectdiagnosticconfig/views.py
Owners: @dv, @aversant

Add Maintenance to ETL.
  core/etl/loader/maintenance.py
  core/etl/models/maintenance.py
  core/etl/remotesystem/base.py
  maintenance/models/maintenance.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Add setting to RemoteSystem
  main/models/remotesystem.py
Owners: @dv, @aversant

Add get_by methods to MaintenanceType.
  core/etl/loader/maintenance.py
  core/etl/models/maintenance.py
  maintenance/models/maintenancetype.py
  ui/web/maintenance/maintenance/Model.js
Owners: @dv, @aversant, @d.zakharov

Add Service Maintenance to UI.
  core/etl/models/maintenance.py
  maintenance/models/maintenance.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/DirectServicesModel.js
Owners: @dv, @aversant, @d.zakharov

Remove unused imports.
  core/etl/loader/maintenance.py
  core/etl/models/maintenance.py
Owners: @dv, @aversant

Remove unused imports.
  maintenance/models/maintenance.py
Owners: @dv, @aversant

Update managed_object_id field
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Update numeric fields
  core/datasources/base.py
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Cleanup
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Fix on_delete_check.
  main/models/remotesystem.py
Owners: @dv, @aversant

Fix matcher iterable once.
  core/matcher.py
Owners: @dv, @aversant

Add Maintenance to ETL.
  core/etl/loader/maintenance.py
  core/etl/models/maintenance.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
  maintenance/models/maintenance.py
  maintenance/models/maintenancetype.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/DirectServicesModel.js
  ui/web/maintenance/maintenance/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'fix-avs-processed-matcher' into 'master'
  core/matcher.py
Owners: @dv, @aversant

Add Maintenance to ETL.
  core/etl/loader/maintenance.py
  core/etl/models/maintenance.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
  maintenance/models/maintenance.py
  maintenance/models/maintenancetype.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/DirectServicesModel.js
  ui/web/maintenance/maintenance/Model.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9848
  core/matcher.py
Owners: @dv, @aversant

release-25.1:Backport!9845
  core/etl/loader/maintenance.py
  core/etl/models/maintenance.py
  core/etl/remotesystem/base.py
  main/models/remotesystem.py
  maintenance/models/maintenance.py
  maintenance/models/maintenancetype.py
  services/web/apps/maintenance/maintenance/views.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
  ui/web/maintenance/maintenance/Application.js
  ui/web/maintenance/maintenance/DirectServicesModel.js
  ui/web/maintenance/maintenance/Model.js
Owners: @dv, @aversant, @d.zakharov

NEP-0103: Collection bundles (#127)
  core/collection/base.py
Owners: @dv, @aversant

ActionCommands: Migrate legacy disable_when_changed values (#126)
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

Fix select memory_usage
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Fix match dynamic profile for same order number.
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/sensorprofile.py
  main/models/notificationgroup.py
Owners: @dv, @aversant

ActionCommands: Migrate legacy disable_when_changed values
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

Merge branch 'fix-avs-profile-dynamic-matcher-same-rule-num' into 'master'
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/sensorprofile.py
  main/models/notificationgroup.py
Owners: @dv, @aversant

Merge branch 'fix-avs-sa-actioncommands-migration' into 'master'
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

release-25.1:Backport!9852
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

release-25.1:Backport!9851
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/sensorprofile.py
  main/models/notificationgroup.py
Owners: @dv, @aversant
