Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

feat: add link inspection functionality to MapPanel
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: add pnpm installation step in CI workflow for consistency
  .github/workflows/js-tests.yml
Owners: none

feat: implement polling mixin for visibility-aware task management
  ui/web/core/mixins/Polling.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @d.zakharov, @dv

js tests fixed
  ui/eslint.config.mjs
  ui/package-lock.json
  ui/scripts/ExtJsParser.ts
  ui/scripts/bundles/src/Yandex.js
  ui/tsconfig.json
  ui/web/core/label/TreePickerController.js
  ui/web/core/mixins/Ballon.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/pconf/PConfController.js
  ui/web/js/util.js
  ui/web/pm/metricaction/Application.js
Owners: @d.zakharov, @dv

feat: link hover functionality added
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: update dependencies to latest versions for improved compatibility
  ui/package-lock.json
Owners: none

feat: simplify URL construction in loadSegment function
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

feat: refactor STP handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: simplify initMap method by removing width and height parameters
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

refactor(polling): fix disableHandler in mixin and align host classes
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

refactor: replace Ext.String.format with template literals
  ui/web/core/ModelApplication.js
  ui/web/core/MonacoPanel.js
  ui/web/core/StateField.js
  ui/web/core/SubscriptionPanel.js
  ui/web/core/TreePanel.js
  ui/web/core/plugins/DynamicModalEditing.js
  ui/web/core/plugins/SubscriptionModalEditing.js
  ui/web/fm/alarmseverity/Application.js
  ui/web/fm/event/EventInspector.js
  ui/web/inv/interface/Application.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/metric/MetricPanel.js
  ui/web/inv/inv/plugins/opm/OPMLegendSprite.js
  ui/web/inv/inv/sprites/Body.js
  ui/web/inv/inv/sprites/Connection.js
  ui/web/inv/inv/sprites/External.js
  ui/web/inv/inv/sprites/Pin.js
  ui/web/inv/inv/sprites/Pointer.js
  ui/web/inv/macdb/MACLogForm.js
  ui/web/inv/objectmodel/Application.js
  ui/web/inv/objectmodel/CrossDiagram.js
  ui/web/inv/objectmodel/sprites/Connection.js
  ui/web/inv/unknownmodel/Application.js
  ui/web/js/util.js
  ui/web/sa/discoveredobject/widget/Check.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/InterfacePanel.js
  ui/web/sa/managedobject/RepoPreview.js
  ui/web/sa/managedobject/SensorsPanel.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/runcommands/Controller.js
Owners: @d.zakharov, @dv

fix: simplify URL construction in preview method of AlarmPanel
  ui/web/sa/managedobject/AlarmPanel.js
Owners: @d.zakharov, @dv

feat: streamline UI build process by removing unnecessary build steps
  scripts/build/build-ui
Owners: none

feat: enhance event handling in MapPanel and MapRendererPlaceholder for improved interactivity
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: update pnpm install command to force install and bump topo-map version to 3.4.9
  scripts/build/build-ui
  ui/pnpm-lock.yaml
Owners: none

feat: integrate polling mixin for enhanced visibility-aware task management across components
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: add check for metrics data in onLinkHover function
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: update CI workflow to use latest actions and improve dependency management
  .github/workflows/ui-master.yml
Owners: none

feat: update disableHandler to accept state parameter for improved functionality
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

feat: add runtime link presentation controls for utilization and status
  ui/scripts/mocks/metrics.json
  ui/scripts/nginx.conf
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @d.zakharov, @dv

feat: refactor node menu handling in MapPanel to simplify object retrieval
  ui/web/inv/map/MapPanel.js
Owners: @d.zakharov, @dv

Refactor code structure for improved readability and maintainability
  ui/package-lock.json
Owners: none

feat: switch to pnpm
  Dockerfile
  scripts/build/build-ui
  ui/package.json
Owners: none

feat: add focus handling on user
  ui/web/main/desktop/LoginView.js
Owners: @d.zakharov, @dv

Merge branch 'patch-avs-add-checkhistory-bi-model' into 'master'
  bi/models/checkhistory.py
  core/checkers/base.py
  core/checkers/registry.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/script/diagnostic.py
  core/watchers/decorator.py
  core/watchers/types.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  sa/models/service.py
  services/discovery/jobs/periodic/diagnostic.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/jobs/update_checks.py
  services/trapcollector/service.py
  services/trapcollector/sourceconfig.py
Owners: @dv, @aversant

Merge branch 'patch-avs-add-vertiv-pdu-profile' into 'master'
  collections/inv.vendors/VERTIV.json
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
  collections/sa.profiles/Vertiv/PDU.json
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/Vertiv/PDU.md
  docs/profiles-reference/Vertiv/SUMMARY.md
  docs/profiles-reference/Vertiv/index.md
  docs/profiles-reference/index.md
  sa/profiles/Vertiv/PDU/__init__.py
  sa/profiles/Vertiv/PDU/get_interfaces.py
  sa/profiles/Vertiv/PDU/get_inventory.py
  sa/profiles/Vertiv/PDU/get_metrics.py
  sa/profiles/Vertiv/PDU/get_version.py
  sa/profiles/Vertiv/PDU/profile.py
  sa/profiles/Vertiv/__init__.py
Owners: @dv, @EKbfh, @aversant, @dmitryluhtionov

Merge branch 'patch-avs-register-trapsnmp-diagnostic-checks' into 'master'
  config.py
  core/checkers/base.py
  services/scheduler/jobs/update_checks.py
  services/scheduler/service.py
  services/syslogcollector/service.py
  services/syslogcollector/sourceconfig.py
  services/trapcollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Merge branch 'patch-avs-add-clever-electronic-profile' into 'master'
  collections/inv.vendors/CLEVER_ELECTRONIC.json
  collections/sa.profiles/CleverElectronic/MPDU.json
  docs/profiles-reference/CleverElectronic/MPDU.md
  docs/profiles-reference/CleverElectronic/SUMMARY.md
  docs/profiles-reference/CleverElectronic/index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
  sa/profiles/CleverElectronic/MPDU/__init__.py
  sa/profiles/CleverElectronic/MPDU/get_fqdn.py
  sa/profiles/CleverElectronic/MPDU/get_interfaces.py
  sa/profiles/CleverElectronic/MPDU/get_inventory.py
  sa/profiles/CleverElectronic/MPDU/get_metrics.py
  sa/profiles/CleverElectronic/MPDU/get_version.py
  sa/profiles/CleverElectronic/MPDU/profile.py
  sa/profiles/CleverElectronic/__init__.py
Owners: @dv, @EKbfh, @aversant, @dmitryluhtionov

Merge branch 'fix-avs-duplicate-pn-migration' into 'master'
  inv/migrations/0045_fix_duplicate_part_no_list.py
Owners: @dv, @aversant

Merge branch 'fix-avs-migration-typo' into 'master'
  inv/migrations/0045_fix_duplicate_part_no_list.py
Owners: @dv, @aversant

Refresh service dependency from config.
  core/models/serviceinstanceconfig.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Fix iter_dependent
  sa/models/service.py
Owners: @dv, @aversant

Fix iter_dependent_services.
  core/diagnostic/decorator.py
  core/models/servicestatus.py
  core/models/valuetype.py
  sa/models/service.py
Owners: @dv, @aversant

Fix etl loader.
  core/etl/loader/service.py
Owners: @dv, @aversant

Remove unused imports.
  core/etl/loader/service.py
  sa/models/service.py
Owners: @dv, @aversant

Fix iter_dependencies.
  sa/models/service.py
Owners: @dv, @aversant

Merge branch 'patch-avs-refresh-service-dependency-by-config' into 'master'
  core/diagnostic/decorator.py
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  core/models/servicestatus.py
  core/models/valuetype.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Fix transimission munits to sensor discovery.
  core/cdag/node/probe.py
  inv/models/sensor.py
  sa/profiles/Generic/get_metrics.py
  services/metricscollector/service.py
Owners: @dv, @aversant, @dmitryluhtionov

Add MetricsItem typing.
  services/metrics/models/card.py
  services/metrics/service.py
Owners: @dv, @aversant

Add error report task to MetricsService.
  services/metrics/service.py
Owners: @dv, @aversant
