Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

Fix unused imports.
  core/tt/types.py
  services/escalator/jobs/escalation.py
Owners: @dv, @aversant

Merge branch 'patch-avs-save-service-oper-factors' into 'master'
  bi/models/serviceoutages.py
  commands/alarm.py
  core/etl/bi/extractor/alarms.py
  core/models/escalationpolicy.py
  core/models/servicestatus.py
  core/tt/base.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/escalationprofile.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/jobs/escalation.py
Owners: @dv, @aversant

Add ex-effect to escalation log.
  core/fm/request.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmlog.py
Owners: @dv, @aversant

Add typo.
  services/correlator/alarmaction.py
Owners: @dv, @aversant

Add AlarmLog
  services/correlator/actionlog.py
Owners: @dv, @aversant

Fix escalation errors.
  core/tt/types.py
  fm/models/alarmjob.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Add register_message action.
  services/correlator/alarmaction.py
Owners: @dv, @aversant

Fix UI.
  ui/web/fm/escalationprofile/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @d.zakharov, @dv

Merge branch 'fix-avs-sensor-munits' into 'master'
  inv/models/sensor.py
Owners: @dv, @aversant

Fix flake.
  fm/models/alarmlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Add register_message action.
  core/fm/request.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmlog.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  fm/models/alarmlog.py
Owners: @dv, @aversant

Add REMOTE_SYSTEMS message headers.
  core/mx.py
  core/router/route.py
  main/models/messageroute.py
  services/metricscollector/service.py
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix typo.
  core/mx.py
Owners: @dv, @aversant

Alarm Rule. Add RemoteSystem match.
  fm/models/alarmrule.py
  sa/models/managedobject.py
  sa/models/service.py
  ui/web/fm/alarmrule/Application.js
Owners: @dv, @aversant, @d.zakharov

Caclculate service prev state Service.oper_status.
  fm/models/alarmjob.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
Owners: @dv, @aversant

Fix typo.
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Fix processed
  fm/models/activealarm.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Fix flake.
  core/router/route.py
  main/models/messageroute.py
Owners: @dv, @aversant

Add processed caps error to Diagnostic Check.
  core/caps/types.py
  core/diagnostic/hub.py
  sa/models/capsprofile.py
  sa/models/service.py
  ui/web/sa/capsprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix save field.
  sa/models/capsprofile.py
  sa/models/service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Add blocked condition.
  core/diagnostic/hub.py
  sa/models/service.py
Owners: @dv, @aversant

Fix save document diagnostics.
  core/checkers/base.py
  core/diagnostic/decorator.py
  sa/models/diagnosticitem.py
Owners: @dv, @aversant

Fix typo.
  core/checkers/nodata.py
  core/diagnostic/hub.py
Owners: @dv, @aversant

Fix flake.
  sa/models/capsprofile.py
  sa/models/service.py
Owners: @dv, @aversant

Add processed caps error to Diagnostic Check.
  core/caps/types.py
  core/checkers/base.py
  core/checkers/nodata.py
  core/diagnostic/decorator.py
  core/diagnostic/hub.py
  sa/models/capsprofile.py
  sa/models/diagnosticitem.py
  sa/models/service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix imports.
  core/diagnostic/decorator.py
Owners: @dv, @aversant

Fix update diagnostic checks from jobs.
  core/mx.py
  sa/models/objectdiagnosticconfig.py
  sa/models/service.py
  services/scheduler/jobs/update_checks.py
  ui/web/sa/objectdiagnosticconfig/Application.js
  ui/web/sa/objectdiagnosticconfig/Model.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'noc-fix-rust-dnssync' into 'master'
  docs/noc-dns-sync-guide/index.md
  docs/sections-overview/guides.md
  rust/Cargo.toml
  rust/datastream/Cargo.toml
  rust/datastream/src/client/http.rs
  rust/dnssync/src/main.rs
Owners: @dv, @EKbfh, @aversant

Fix refresh alarm severity on correlator.
  fm/models/activealarm.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @d.zakharov

fix flake.
  services/correlator/service.py
Owners: @dv, @aversant

Merge branch 'fix-avs-correlator-changed-severity' into 'master'
  fm/models/activealarm.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @d.zakharov

Register NODATA check on metricscollector service.
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/streams/cfgmetricstarget.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant

Fix typo.
  config.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Fix flake.
  config.py
Owners: @dv, @aversant, @EKbfh

Merge branch 'patch-avs-nodata-checks-metricscollector' into 'master'
  config.py
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/streams/cfgmetricstarget.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

noc-fix-bug-manageobject-create
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Translate alarm group changes to Alarm job.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/alarmjob.py
  services/correlator/service.py
Owners: @dv, @aversant

Noc fix bug manageobject create
  sa/models/managedobjectprofile.py
Owners: @dv, @aversant

Add service transfer settings from Service Profile.
  sa/models/service.py
  sa/models/serviceprofile.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @d.zakharov
