Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

release-23.1:Backport!9923
  sa/profiles/EdgeCore/ES/get_ifindexes.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace pyfs requirements to fsspec for tests fixed.
  commands/beef.py
  commands/script.py
  main/models/extstorage.py
  tests/collections/test_fm_eventclassificationrule.py
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv, @aversant

Fix requirements
  .requirements/node.txt
  tests/test_0008_load_data.py
Owners: @dv

Fix typo.
  tests/test_0008_load_data.py
Owners: @dv

Merge branch 'fix-avs-event-deduplicate-vars' into 'master'
  services/classifier/evfilter/dedup.py
Owners: @dv, @aversant

Merge branch 'fix-avs-processed-events-collector' into 'master'
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/scheduler/jobs/remote_system.py
Owners: @dv, @aversant

Add ObjectEffect to Workflow Decorator.
  collections/wf.states/Sensor_Default_Removing.json
  collections/wf.transitions/Sensor_Default_Missed_Removing_Removing.json
  collections/wf.transitions/Sensor_Default_Removing_Ok_Restore.json
  core/etl/loader/base.py
  core/watchers/decorator.py
  core/wf/decorator.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  sa/models/managedobject.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/service.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-bi-models-mac-macdb' into 'master'
  bi/models/mac.py
Owners: @dv, @aversant

release-23.1:Backport!9942
  bi/models/mac.py
Owners: @dv, @aversant

Merge branch 'fix-processed-sensors-metrics-from-collector' into 'master'
  core/wf/decorator.py
  services/datastream/models/cfgmetricstarget.py
  services/discovery/jobs/box/nri_portmap.py
  services/metricscollector/models/channel.py
Owners: @dv, @aversant

Merge branch 'fix-avs-peer-getting-default-profile' into 'master'
  collections/fm.eventclassificationrules/WiFi_Controller/AP_Unavailable_Zabbix.json
  peer/models/asn.py
  peer/models/peerprofile.py
  sa/migrations/0261_managedobjectprofile_add_discovery_bgpeer.py
  sa/migrations/0270_managedobjectprofile_peerprofile_db_table_fix.py
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/bgppeer.py
Owners: @dv, @aversant

Merge branch 'noc-fix-periodic-job' into 'master'
  services/discovery/jobs/periodic/job.py
Owners: @dv, @aversant

Merge branch 'noc-supp-fix-gridvcs-approve-help' into 'master'
  commands/gridvcs.py
Owners: @dv, @aversant

Merge branch 'noc-improve-interfaces-logging' into 'master'
  services/discovery/jobs/box/interface.py
Owners: @dv, @aversant

Merge branch 'noc-add-restore-removing' into 'master'
  collections/wf.transitions/ManagedObject_Default_Removing_Managed_Restore.json
  sa/profiles/Cisco/IOS/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'cherry-pick-611de8f4' into 'release-25.1'
  sa/profiles/Huawei/VRP/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-supp-fix-huawei-stuck' into 'master'
  sa/profiles/Huawei/VRP/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-fix-bgp-peer-state-changed' into 'master'
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
Owners: none

release-23.1:Backport!9914
  sa/profiles/Huawei/VRP/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-add-admdomain-description-mo-context' into 'master'
  docs/mx-messages-reference/event.md
  docs/mx-messages-reference/interface_status_change.md
  docs/mx-messages-reference/reboot.md
  docs/mx-messages-reference/syslog.md
  sa/models/managedobject.py
Owners: @dv, @EKbfh, @aversant

Merge branch 'service-ui-resource-pretty-print' into 'master'
  services/web/apps/sa/service/views.py
Owners: @dv, @aversant

Merge branch 'noc-add-ups-mib' into 'master'
  cmibs/ups_mib.py
Owners: @dv, @aversant

Replace not maintained python-consul client to py-consul.
  core/config/proto/consul.py
  core/consul.py
  core/dcs/consul.py
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Add requirements
  .requirements/node.txt
Owners: none

Fix typo
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Merge branch 'noc-fix-credentialcheckrule-li' into 'master'
  core/script/diagnostic.py
Owners: @dv, @aversant

Cisco.IOS Add HundredGigE interface type.
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Cisco/IOS/get_lldp_neighbors.py
  sa/profiles/Cisco/IOS/get_version.py
  sa/profiles/Cisco/IOS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Merge branch 'noc-supp-fix-iskratel-msan-keep-cli-session' into 'master'
  sa/profiles/Iskratel/MSAN/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

release-23.1:Backport!9952
  sa/profiles/Iskratel/MSAN/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Add is_complete check on update_maintenance
  maintenance/models/maintenance.py
Owners: @dv, @aversant

Fix update ManagedObject status when last_ts is Null.
  sa/models/managedobject.py
Owners: @dv, @aversant

Merge branch 'noc-improve-ifaceprofile-log' into 'master'
  services/discovery/jobs/box/interface.py
Owners: @dv, @aversant

Merge branch 'noc-supp-sks-lldp' into 'master'
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Noc fix maintenance flag completed
  maintenance/models/maintenance.py
Owners: @dv, @aversant

Merge branch 'fix-avs-empty-lastts-on-mo-statuses' into 'master'
  sa/models/managedobject.py
Owners: @dv, @aversant

Merge branch 'fix-ensure-labels-on-etl-processed' into 'master'
  core/etl/loader/base.py
Owners: @dv, @aversant

Merge branch 'patch-avs-speedup-iterate-datastream' into 'master'
  fm/models/dispositionrule.py
  inv/models/interfaceprofile.py
  services/login/paths/auth.py
Owners: @dv, @aversant

Merge branch 'noc-fix-mistype' into 'master'
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

Merge branch 'fix-avs-multiple-asset-part-no-list' into 'master'
  inv/migrations/0045_fix_duplicate_part_no_list.py
  services/discovery/jobs/box/asset.py
Owners: @dv, @aversant

Merge branch 'fix-avs-service-default-oper-status' into 'master'
  core/models/servicestatus.py
  sa/models/service.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
