Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

Add check_labels to on_delete_check decorator, for validate labels by name.
  core/model/decorator.py
  main/models/label.py
Owners: @dv, @aversant

Merge branch 'fix-avs-validate-oid-on-profile-diagnostic' into 'master'
  core/profile/diagnostic.py
Owners: @dv, @aversant

Merge branch 'fix-avs-on-delete-check-labels' into 'master'
  core/model/decorator.py
  main/models/label.py
Owners: @dv, @aversant

release-25.1:Backport!9820
  core/profile/diagnostic.py
Owners: @dv, @aversant

release-25.1:Backport!9821
  core/model/decorator.py
  main/models/label.py
Owners: @dv, @aversant

Reformat processed ActionCommands ActionSet for multiple Scope.
  core/models/cfgactioncommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix AlarmDetail report working with 'ids' argument
  core/datasources/reportdsalarms.py
  services/web/apps/fm/reportalarmdetail/views.py
Owners: @dv, @aversant

Add time_pattern__label field to NotificationGroupApplication
  services/web/apps/main/notificationgroup/views.py
Owners: @dv, @aversant

Fix xPON | ONU classes (#115)
  collections/fm.alarmclasses/Network/xPON/ONU/Power_Failed.json
  collections/fm.dispositionrules/Network/xPON/Laser_Always_On/xPON/Laser_Always_On_dispose_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_dispose_.json
  collections/fm.eventclasses/Network/xPON/ONU/Activated.json
  collections/fm.eventclasses/Network/xPON/ONU/Discovered.json
  collections/fm.eventclasses/Network/xPON/ONU/Offline.json
  collections/fm.eventclasses/Network/xPON/ONU/Power_Failed.json
Owners: none

Add loadmetrics datasource working through reportdatasources
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Add Victoria Metrics integration to MetricsCollector.
  pm/models/metrictype.py
  services/metricscollector/models/channel.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  ui/web/pm/metrictype/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix typo.
  services/metricscollector/paths/zabbix.py
Owners: @dv, @aversant

Add configs param.
  config.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Add Unit to metrics alias Settings.
  pm/models/metrictype.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  ui/web/pm/metrictype/Application.js
Owners: @dv, @aversant, @d.zakharov

Add Datastream.
  services/datastream/models/cfgmetrics.py
Owners: @dv, @aversant

Fix collection.
  pm/models/metrictype.py
Owners: @dv, @aversant

Set caches to SensorProfile Classification.
  core/etl/loader/service.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/measurementunits.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix end-date in 'Alarm Detail (new)' report
  core/reporter/base.py
  core/reporter/types.py
  main/models/report.py
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix flake.
  pm/models/measurementunits.py
Owners: @dv, @aversant

Fix flake.
  services/metricscollector/paths/vmagent.py
Owners: @dv, @aversant

Remove unused imports.
  services/metricscollector/service.py
Owners: @dv, @aversant

Set caches to SensorProfile Classification.
  core/etl/loader/service.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/measurementunits.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-more-caches' into 'master'
  core/etl/loader/service.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/measurementunits.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9827
  core/etl/loader/service.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/models/measurementunits.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix tests.
  services/metricscollector/models/vmagent.py
  tests/test_py_module.py
Owners: @dv, @aversant

Fix set units.
  services/metricscollector/service.py
Owners: @dv, @aversant

Add Victoria Metrics integration to MetricsCollector.
  config.py
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/metricscollector/models/channel.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/models/vmagent.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  tests/test_py_module.py
  ui/web/pm/metrictype/Application.js
Owners: @dv, @aversant, @EKbfh, @d.zakharov

Merge branch 'patch-avs-add-vmagent-collector' into 'master'
  config.py
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/metricscollector/models/channel.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/models/vmagent.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  tests/test_py_module.py
  ui/web/pm/metrictype/Application.js
Owners: @dv, @aversant, @EKbfh, @d.zakharov

release-25.1:Backport!9828
  config.py
  pm/models/metrictype.py
  services/datastream/models/cfgmetrics.py
  services/metricscollector/models/channel.py
  services/metricscollector/models/sendmetric.py
  services/metricscollector/models/vmagent.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  tests/test_py_module.py
  ui/web/pm/metrictype/Application.js
Owners: @dv, @aversant, @EKbfh, @d.zakharov

Reformat processed ActionCommands ActionSet for multiple Scope.
  core/models/cfgactioncommands.py
  sa/models/action.py
  sa/models/actioncommands.py
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/actioncommands/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix processed params ctx.
  core/models/cfgactioncommands.py
  sa/models/action.py
  tests/collections/test_sa_actioncommands.py
Owners: @dv, @aversant

Add collections.
  collections/sa.actioncommands/Cisco/IOS/set_interface_tagged.json
  collections/sa.actioncommands/Juniper/JUNOS/set_interface_tagged.json
  collections/sa.actioncommands/Juniper/JUNOS/sync_vlas.json
  collections/sa.actions/set_interface_access.json
  collections/sa.actions/set_interface_tagged.json
  collections/sa.actions/sync_vlan.json
Owners: none

Fix typo.
  sa/models/action.py
Owners: @dv, @aversant

Fix typo.
  sa/models/action.py
Owners: @dv, @aversant

Fix end-date in 'Alarm Detail (new)' report
  core/reporter/base.py
  core/reporter/types.py
  main/models/report.py
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix collection.
  collections/sa.actioncommands/Juniper/JUNOS/set_interface_tagged.json
Owners: none

release-25.1:Backport!9662
  core/reporter/base.py
  core/reporter/types.py
  main/models/report.py
  ui/web/main/reportconfig/Application.js
  ui/web/main/reportconfig/Model.js
Owners: @dv, @aversant, @d.zakharov

Fix collection data.
  collections/sa.actioncommands/Cisco/IOS/add_vlan.json
  collections/sa.actioncommands/Cisco/IOS/disable_cdp.json
  collections/sa.actioncommands/Cisco/IOS/enable_cdp.json
  collections/sa.actioncommands/Cisco/IOS/set_interface_description.json
  collections/sa.actioncommands/Cisco/IOS/set_sla_probe.json
  collections/sa.actioncommands/Huawei/VRP/set_sla_probe.json
  collections/sa.actioncommands/Juniper/JUNOS/set_sla_probe.json
  collections/sa.actioncommands/MikroTik/RouterOS/set_description.json
  sa/models/actioncommands.py
Owners: @dv, @aversant

Fix typo.
  collections/sa.actioncommands/Juniper/JUNOS/sync_vlan.json
  sa/models/action.py
Owners: @dv, @aversant

Add multi attribute to export.
  collections/sa.actions/add_vlan.json
  collections/sa.actions/enable_sla_probe.json
  collections/sa.actions/set_interface_access.json
  collections/sa.actions/set_interface_description.json
  collections/sa.actions/set_interface_tagged.json
  collections/sa.actions/set_sla_probe.json
  collections/sa.actions/sync_vlan.json
  sa/models/action.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
