Repository nocproject/noc, changes with the owners that CODEOWNERS names for each.
All owners: @dv, @aversant, @d.zakharov, @EKbfh, @dmitryluhtionov

home: Update community links (#18)
  services/web/apps/main/home/templates/Community.html.j2
Owners: @dv, @aversant

Remove unused files (#19)
  INSTALL
  settings.py
  share/osm2pgsql/default.style
  templatetags/__init__.py
  templatetags/template_exists.py
  unittest.cfg
Owners: @dv, @aversant

Run CodeQL only daily (#20)
  .github/workflows/codeql.yml
Owners: none

Ruff 0.13.2
  .requirements/lint.txt
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Fix
  commands/convert-xcvr-descr-to-data.py
Owners: @dv, @aversant

Prototype Pollution fixed
  ui/web/pm/metricaction/Application.js
Owners: @d.zakharov, @dv

login: Use secure/httponly cookie (#22)
  services/login/auth.py
Owners: @dv, @aversant

./noc event: Fix code typos (#23)
  commands/events.py
Owners: @dv, @aversant

#2727 Fix raise alarm by interface event.
  services/classifier/actionset.py
Owners: @dv, @aversant

Merge branch 'noc-2727' into 'master'
  services/classifier/actionset.py
Owners: @dv, @aversant

release-25.1:Backport!9617
  services/classifier/actionset.py
Owners: @dv, @aversant

Sanitize URL method in error response (#24)
  services/web/base/site.py
  tests/test_site.py
Owners: @dv, @aversant

release-25.1:Backport!9437
  ui/web/core/mixins/Export.js
  ui/web/maintenance/maintenance/ObjectsStore.js
Owners: @d.zakharov, @dv

Remove filtering by pool 'default' for superuser and empty params
  services/web/apps/inv/reportlinkdetail/views.py
Owners: @dv, @aversant

Add Serial Number value type.
  collections/inv.capabilities/Asset/Serial_Numbers.json
  core/caps/decorator.py
  core/models/valuetype.py
  inv/models/capability.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

Merge branch 'patch-avs-add-sn-value-type' into 'master'
  collections/inv.capabilities/Asset/Serial_Numbers.json
  core/caps/decorator.py
  core/models/valuetype.py
  inv/models/capability.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

Fix regression of escalation_tt in card outage
  services/card/cards/outage.py
Owners: @dv, @aversant

Merge branch 'fix-rm-card-outage' into 'master'
  services/card/cards/outage.py
Owners: @dv, @aversant

release-25.1:Backport!9623
  collections/inv.capabilities/Asset/Serial_Numbers.json
  core/caps/decorator.py
  core/models/valuetype.py
  inv/models/capability.py
  ui/web/inv/capability/Application.js
Owners: @dv, @aversant, @d.zakharov

release-25.1:Backport!9620
  services/card/cards/outage.py
Owners: @dv, @aversant

Explain using legacy hashes (#26)
  core/password/hasher.py
Owners: @dv, @aversant

Add capabilities field to Purgatorium model.
  bi/models/purgatorium.py
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/managedobject.py
  core/models/valuetype.py
  core/purgatorium.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'add-capabilities-to-purgatorium' into 'master'
  bi/models/purgatorium.py
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/managedobject.py
  core/models/valuetype.py
  core/purgatorium.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

release-25.1:Backport!9627
  bi/models/purgatorium.py
  core/etl/loader/base.py
  core/etl/loader/managedobject.py
  core/etl/loader/service.py
  core/etl/models/managedobject.py
  core/models/valuetype.py
  core/purgatorium.py
  main/models/modeltemplate.py
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Merge branch 'fix-rm-inv-reportlinkdetail' into 'master'
  services/web/apps/inv/reportlinkdetail/views.py
Owners: @dv, @aversant

Fix update same caps from different scope.
  core/caps/decorator.py
  core/purgatorium.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

release-25.1:Backport!9624
  services/web/apps/inv/reportlinkdetail/views.py
Owners: @dv, @aversant

Merge branch 'fix-update-different-scope-caps' into 'master'
  core/caps/decorator.py
  core/purgatorium.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

release-25.1:Backport!9630
  core/caps/decorator.py
  core/purgatorium.py
  tests/models/test_capabilities.py
Owners: @dv, @aversant

Fix L2domain UI typo.
  ui/web/vc/l2domainprofile/Application.js
Owners: @d.zakharov, @dv

Add param to InterfaceMACsStat report datasource.
  core/datasources/interfacemacsstatds.py
Owners: @dv, @aversant

Merge branch 'fix-l2domain-ui-typo' into 'master'
  ui/web/vc/l2domainprofile/Application.js
Owners: @d.zakharov, @dv

Merge branch 'fix-l2domain-ui-typo' into 'master'
  ui/web/vc/l2domainprofile/Application.js
Owners: @d.zakharov, @dv

Merge branch 'add-params-to-interfacemacsstatds' into 'master'
  core/datasources/interfacemacsstatds.py
Owners: @dv, @aversant

Fix service disposition alarm typo.
  sa/models/service.py
Owners: @dv, @aversant

release-25.1:Backport!9634
  core/datasources/interfacemacsstatds.py
Owners: @dv, @aversant

Merge branch 'fix-svc-disposition-alarm' into 'master'
  sa/models/service.py
Owners: @dv, @aversant

release-25.1:Backport!9636
  sa/models/service.py
Owners: @dv, @aversant

Add NetBox ETL extractor.
  core/etl/extractor/netbox.py
  core/etl/extractor/vcenter.py
Owners: @dv, @aversant

Merge branch 'patch-avs-netbox-etl-extractor' into 'master'
  core/etl/extractor/netbox.py
  core/etl/extractor/vcenter.py
Owners: @dv, @aversant

CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @d.zakharov @dv

# CSS files
*.css @d.zakharov @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant @EKbfh

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv @EKbfh @aversant

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh
